---
layout: base.njk
title: Artist in Residence - Rugtufting with Amanda
bodyClass: amanda-pellerin
---

<section id="courtney-cup-hero" class="hero">
    <article>
        <p>Boatworks Artist-in-Residence Series</p>        
        <h1>Rugtufting with Amanda</h1>
    </article>
    <figure><img src="/static/images/artist-in-residence/amanda-pellerin/header.webp" style="object-position: 80%"></figure>

</section>

<div class="container primary-article">
    <aside>
        <h4>Sign up for a Rugtufting Workshop!</h4>
        <p><strong>When:</strong> July 8th, July 15th, July 22nd, July 29th, August 12th from 1pm - 4pm.</p>
        <p><strong>Cost:</strong> $275</p>
        <p><strong>Where:</strong> The Blue Duck</p><br>
        <p>Scholarships / financial assistance is availabile! Sign up today!</p>
        <a href="https://islesford-boatworks.square.site/product/rug-tufting-workshop/283?cp=true&sa=true&sbp=false&q=false" target="_blank" class="btn">Register here</a>
    </aside>
    <article>
        <p>Learn to design and make your own punched rug in one of Amanda's workshops. Join us any Saturday in July and August 12th!</p>
        <p>Amanda's art will be available in the Chandlery throughout the summer.</p><p>She will also be hosting an open shop at the Blue Duck to showcase her work and process August 14th - 18th.</p>
        <div class="inline-gallery">
            <figure><img src="/static/images/artist-in-residence/amanda-pellerin/collage.webp"></figure>
          
        </div>
            <br>
            <h3>About the Artist</h3>
    <p>Amanda Pellerin has been the co-potter at Islesford Pottery for the past two summers, and in '96 & '97. Her work features bold colors, graphic images and inspiration from the layers of moss and lichen found along the rocky shore. Amanda will be sharing her love of texture and textiles with an offering of machine and hand rug-tufting workshops in July and August, as well as open studio hours in August. A selection of her textiles and knotted jewelry will be available throughout the summer in the Chandlery. She will offer the community the opportunity to collaborate on a piece that will be available
at the Islesford Boatworks launch fundraiser.</p>
    <p>Follow Amanda on <a href="https://www.missmuralmd.com/" target="_blank">the web</a> and <a href="https://www.instagram.com/missmuralmd/" target="_blank">instagram</a>.</p>


    </article>

    

</div>
<div class="container bottom-cards">
    <div class="card">
        <a href="/makers-night">
            <img src="/static/images/programs-events/makers-night2.jpg">
            <article>
                <h5>Maker's Night</h5>
                <p>Too young for our boat building programs? Kids 4 and up can join us weekly for Makers Night, where they learn shop safety and tool basics by creating fun crafts. </p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/summer-youth-boatbuilding">
        <img src="/static/images/summer-boatbuilding.jpg">
        <article>
            <h5>Summer Youth Boatbuilding</h5>
            <p>We offer three different levels of programs, teaching kids from 7-17 the fundamentals of boatbuilding. Working together, we [launch a new boat] at the end of the summer.</p>
            <span>Learn more</span>
       </article>
       </a>
    </div>
</div>
