<div class="eyebrow">
    <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfoU-4kkxjE-W6mKN6frch8SiH-xOpU7qjbMpj3oCp0N2OCow/viewform" _target="_blank">2022 Boatworks Registration is now open!  — Click here to register.</a></p>
    {# <a href="#" class="close"><span>x</span></a> #}
</div>