{# <div class="eyebrow">       
     <p><a href="https://forms.gle/iGkqaZuyX3yU3cbh8" _target="_blank">Summer 2025 Registration is now open!</a></p>
    <p><a href="https://islesford-boatworks.square.site/s/shop" target="_blank">The Boatworks Holiday Market is Live! Shop here</a></p>
    <p> 2025 Registration Opens April 1st!</p>     
</div> #}
