
<footer role="contentinfo" id="footer">
    <div class="info">
        <a href="/"><img src="/static/images/logo-horizontal-inverted@2x.png" class='footer-logo'></a>
        <p class="mission">We are a 501(c)(3) non-profit community-based summer boatbuilding program for children ages 7 to 97 years young situated on Little Cranberry Island, Maine. </p><br><p class="mission">Our mission is building opportunity, community, and a future for Maine’s working waterfront.</p>
    </div>
    <div class="footer-links" id="mobile-jump">
        <ul>
            <li><a href="/programs-events">Programs & Events</a></li>
            <li><a href="/summer-youth-boatbuilding">Summer Youth Boatbuilding</a></li>
    
            <li><a href="/school-year-woodworking">School Year Woodworking</a></li>                    
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/about">Our Mission & History</a></li>
            <li><a href="/our-boats">Our Boats</a></li>
        </ul>
    </div>
    <div class="footer-links">
        <ul>

            <li><a href="/the-blue-duck">The Blue Duck</a></li>
            <li id="capital-campaign"><a href="/capital-campaign">The Blue Duck Capital Campaign</a></li>              
            <li><a href="/faq">Frequently Asked Questions</a></li>
            <li><a href="https://islesfordboatworks.us7.list-manage.com/subscribe?u=fc02d50e0fcd37acade856882&id=1989fb58ed">Join the Mailing List</a></li>
            <li><a href="mailto:islesfordboatworks@gmail.com" target="_blank">Contact</a></li>
            <li><a href="https://islesford-boatworks.square.site/" target="_blank">Shop the Chandlery</a></li>
            <li><a href="https://www.paypal.com/donate/?hosted_button_id=2S3ZEMK5LS7X4" target="_blank">Donate</a></li>                    
        </ul>
    </div>
    <div class="extras">
        <div class="social">
            <a href="https://instagram.com/islesfordboatworks" target="_blank"><img src="/static/images/icons/social-instagram.svg"></a>
            <a href="https://www.youtube.com/results?search_query=islesford+boatworks#"><img src="/static/images/icons/social-youtube.svg"></a>  
            {# <a href="#"><img src="/static/images/icons/social-twitter.svg"></a> #}
            <a href="https://www.facebook.com/Islesford.Boatworks"><img src="/static/images/icons/social-facebook.svg"></a>                  
        </div>
        <div class="legal">
            <p>PO Box 291<br>Islesford ME 04646<br> 207-200-8443<br><br>&copy; {{ site.currentYear }} Islesford Boatworks</p>
        </div>
    </div>            

</footer>
