<section id="get-involved">
    <h2>Help us build</h2>
    <p>Islesford Boatworks is a passionate community of supporters, neighbors, and friends; we are family. Thank you in advance for your donation of time, money, encouragement & support. We couldn’t do it without you!</p>
    <div class="categories">
        <article>
            <img src="/static/images/icons/volunteer.svg">
            <h3>Volunteer</h3>
            <p>We are always looking for volunteers to join us in the shop, either during classes with our students or behind the scenes helping with prep work. We also need help coordinating our community events and making improvements to our waterfront home. </p>
            <a class="btn" href="mailto:islesfordboatworks@gmail.com" target="_blank">Let's talk</a>
        </article>     
        <article>
            <img src="/static/images/icons/donate.svg">
            <h3>Make a donation</h3>
            <p>You can make a huge impact in our organization and community. Your donation keeps the lights on, tools running and ensures everyone can participate. If you are able to support IB financially, we truly appreciate it. We wouldn’t be here without your support.</p>
            <a class="btn" href="https://www.paypal.com/donate/?hosted_button_id=2S3ZEMK5LS7X4" target="_blank">Donate</a>
        </article>
        <article>
            <img src="/static/images/icons/chandlery.svg">
            <h3>Support the Chandlery</h3>
            <p>Our Chandlery is more than a hardware store. We sell handmade wood crafts, unique items and IB Merch, all in support of our programming. You can help through shopping at our chandlery, or by donate items for us to sell. </p>
            <a class="btn" href="https://islesford-boatworks.square.site/" target="_blank">Shop online</a>
        </article>                
    </div>
</section>
