<nav class="primary">
    <ul>
        <li id="home"><a href="/"><img src="/static/images/islesford-boatworks-logo.png" alt="Islesford Boatworks Logo"></a></li>
        <li id="programs"><a href="/programs-events"><span>Programs & Events</span></a></li>
        <li id="schedule"><a href="/schedule"><span>Schedule</span></a></li>
        <li id="about"><a href="/about"><span>About</span></a>
            <nav class="subnav">
                <ul>
                    <li id="mission-history"><a href="/about">Our Mission & History</a></li>
                    <li id="our-boats"><a href="/our-boats">Our Boats</a></li>
                                        <li id="mission-history"><a href="/about">Our Mission & History</a></li>
                    <li id="blue-duck"><a href="/the-blue-duck">The Blue Duck</a></li>
                    <li id="capital-campaign"><a href="/capital-campaign">The Blue Duck Capital Campaign</a></li>  
                                      
                    {# <li id="faq"><a href="/faq">Frequently Asked Questions</a></li> #}
                </ul>
            </nav>
        </li>
        <li id="contact"><a href="mailto:islesfordboatworks@gmail.com" target="_blank"><span>Contact Us</span></a></li>
        <li id="store"><a href=https://islesford-boatworks.square.site/" target="_blank"><span>Store</span></a></li>
        <li id="donate"><a href="https://www.paypal.com/donate/?hosted_button_id=2S3ZEMK5LS7X4" target="_blank"><span>Donate</span></a></li>          
    </ul>
    <div class="mobile-nav">
        <figure><a href="/"><img src="/static/images/logo-horizontal@2x.png" alt="Islesford Boatworks Logo"></a></figure>
        <a href="#footer">Menu</a>
    </div>
</nav>
