<nav>
    <ul>
        <li id="home"><a href="#"><img src="/static/images/islesford-boatworks-logo.png" alt="Islesford Boatworks Logo"></a></li>
        <li id="programs"><a href="#"><span>Programs & Events</span></a></li>
        <li id="schedule"><a href="#"><span>Schedule</span></a></li>
        <li id="about"><a href="#"><span>About</span></a></li>
        <li id="contact"><a href="#"><span>Contact Us</span></a></li>
        <li id="store"><a href="#"><span>Store</span></a></li>
        <li id="donate"><a href="#"><span>Donate</span></a></li>          
    </ul>
</nav>