.card {
    display: flex;
    box-shadow: 0 0 0 1px #ddd;
    flex-direction: column;
    transition: box-shadow .3s ease-out;
}

.card:hover {
    box-shadow: 0 0 0 .4vw #3A6BA5;
    transition: box-shadow .1s ease-out;
}

.card h5 {

    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1vw;

    @media(--desktop) {
        font-size: 1.1vw;
    }
}
.card img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.card p {
    padding-bottom: 1vw;
    font-size: 13px;

    @media(--desktop) {
        font-size: .9vw;
    }    
}
.card span {
    font-weight: 500;
    color: #135D92;
    margin-top: auto;
    font-size: 13px;

    @media(--desktop) {
        font-size: .9vw;
    }    
}

.card article {
    padding: 8%;
    display: flex;
    flex-direction: column;
    flex: 1;

    @media(--desktop) {
        padding: 1.6vw;
    }
}
.card a {
    display: flex;
    flex-direction: column;
    flex: 1;      
}
.card a:hover {
    text-decoration: none;
}

.container.bottom-cards {
    display: flex;

    border-top: 1px solid var(--light-border);
    padding-top: var(--mobile-gutter);
    justify-content: space-between;

    @media(--mobile) {
        flex-wrap: wrap;
    }

    @media(--desktop) {
        margin-top: 5em;
        padding-top: 5em;
    }

    & .card {
        width: 48%;        
        @media(--mobile) {
            margin-bottom: 5%;
        }      
        @media(--desktop) {
            width: 30%;
        }        
    }
}

/* kni-cascade/shadow */
[shadow] {
  --s-color: 0, 0, 0;
  --s-z: 1;    
  --s-a: 0.2;  
  
  box-shadow:
    0 calc(var(--s-z) * 1px) calc(var(--s-z) * 2px) rgba(var(--s-color), calc(var(--s-a) * 0.4)),
    0 calc(var(--s-z) * 2px) calc(var(--s-z) * 4px) rgba(var(--s-color), calc(var(--s-a) * 0.3)),
    0 calc(var(--s-z) * 4px) calc(var(--s-z) * 8px) rgba(var(--s-color), calc(var(--s-a) * 0.2)),
    0 calc(var(--s-z) * 8px) calc(var(--s-z) * 16px) rgba(var(--s-color), calc(var(--s-a) * 0.1)),
    0 calc(var(--s-z) * 16px) calc(var(--s-z) * 32px) rgba(var(--s-color), calc(var(--s-a) * 0.05)),
    0 calc(var(--s-z) * 32px) calc(var(--s-z) * 64px) rgba(var(--s-color), calc(var(--s-a) * 0.02)) 
    !important;
}

/* --- Z-DEPTH TOKENS --- */
[shadow~="10"] { --s-z: 2; }
[shadow~="20"] { --s-z: 8; }
[shadow~="30"] { --s-z: 16; }
[shadow~="40"] { --s-z: 26; }
[shadow~="50"] { --s-z: 38; } /* Squeezed for visual density */

/* --- INTENSITY TOKENS --- */
[shadow~=".1"] { --s-a: 0.1; } [shadow~=".2"] { --s-a: 0.2; }
[shadow~=".3"] { --s-a: 0.3; } [shadow~=".4"] { --s-a: 0.4; }
[shadow~=".5"] { --s-a: 0.5; } [shadow~=".6"] { --s-a: 0.6; }
[shadow~=".7"] { --s-a: 0.7; } [shadow~=".8"] { --s-a: 0.8; }
[shadow~=".9"] { --s-a: 0.9; }

/* --- COLOR TOKENS --- */
[shadow~="blue"] { --s-color: 0, 20, 190; }