footer[role=contentinfo] {
    background-color: var(--footer-bg);
    color: #fff;
    @media (--mobile) {
        min-height: 100vh;
    }
}
footer[role=contentinfo]  {
    color: #fff;
    padding: 5vw 9vw;

    font-size: 15px;
    color: rgba(255,255,255,.75);

    @media (--mobile) {
        flex-wrap: wrap;
        padding-top: 9vw;
    }

    @media (--desktop) {
        font-size: .9vw;
        display: flex;
        justify-content: space-between;        
    }
}
footer[role=contentinfo] ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer[role=contentinfo] a {
    color: #fff;

    &:hover {
        text-decoration: underline;
    }
}

footer[role=contentinfo] p.mission {
    @media (--mobile) {
        display: none;
    }
}
footer[role=contentinfo] p:last-of-type {

    @media (--mobile) {
        margin-bottom: 50px;
    }
}
footer[role=contentinfo] > div {

    @media (--desktop) {
        min-width: 20%;
        padding-right: 4vw;
    
        &:first-child {
            padding-right: 4vw;
            flex: 1;
        }
        &:last-child {
            max-width: 20%;
            padding-right: 0;
        }
    }

}
footer[role=contentinfo] img.footer-logo {
    width: 200px;

    @media (--desktop) {
        width: 13vw;
        height: auto;
        margin-bottom: 1.2vw;
    }
}
footer[role=contentinfo] .social {
    display: flex;
    margin-bottom: 1vw;
    margin-left: -10px;

    @media (--mobile) {
        width: 50%;
        margin-top: 30px;
        justify-content: space-between;

    }

    & a {

        @media (--mobile) {
            width: 30%;
            display: inline-block;
        }
    }
    & img {
        transition: transform .1s ease-out;

        @media (--mobile) {
            width: 100%;
        }
        &:hover {
            transform: scale(1.3);
        }
    }
}

footer[role=contentinfo] .footer-links {
    font-weight: 500;

    @media(--mobile) {
        width: 100%;
        font-size: 15px;
    }

    & a {
        display: block;
        padding: 12px 0;
        
        @media(--desktop) {
            display: inline-block;
            padding: .4vw 0;
        }

    }
}

footer[role=contentinfo] .legal {
    @media(--mobile) {
        margin-top: 30px;
    }
}