<!DOCTYPE html>
<html lang="en-us">
    <head>
        {% include "head.njk" %}
        <link rel="stylesheet" href="/assets/site.css">
        <script src="/assets/site.js" defer></script>
    </head>
    <body {% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
        <header role="banner">
            {# todo make conditional #}
            {% include "components/eyebrow.njk" %}
            {% include "components/nav.njk" %}
        </header>
        <main>
            {{ content | safe }}
        </main>
        {% include "components/footer.njk" %}


    </body>
</html>