#boatbuilding .card-container, #community-events .card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#programs-hero {

    & figure {
        height: 50vh;   
      
        @media(--desktop) {
            height: 25vw;
        }
       
    }

}

.programs-events {

    & #boatbuilding h3, & #community-events h3 {
        font-family: "Decimal 2 A", "Decimal 2 B";

        letter-spacing: -.03em;
        font-size: 4vw;
        margin-bottom: 5%;

        @media(--desktop) {
            margin-bottom: 2vw;
            font-weight: 300;            
            font-size: 2vw;        
        }        
    }

    & .card {
        margin-bottom: 4%;
        width: 48%;
        @media(--desktop) {
            margin-bottom: 2.2vw;            
            width: 31.5%;            
        }
    }
    
    & .card h5 {
        @media(--desktop) {
            font-size: 1.2vw;          
        }

    }
    & .card p {
        @media(--desktop) {
            font-size: 1.1vw;        
        }        

    }
    & .card span {
        @media(--desktop) {
            font-size: 1.1vw;        
        }       
    }
    & .card article {
        padding: 8%;
        @mdiea(--article) {
            padding: 2vw;
        }
    }
    & #community-events {
        padding-top: 2.5vw;
        margin-top: 3vw;
        border-top: 1px solid var(--light-border);
    }
}


.programs-events #community-events .card-container .card.inactive {
    transition: none;
    cusor: pointer;

    & h5 {
        color: #333;
    }
    & span {
        display: none;
    }
    &:hover {
        box-shadow: 0 0 0 1px #ddd;
    }
}
