.summer-youth-boatbuilding {
    & .container {
        


    }
}

#programs-hero {
    position: relative;
    color: #fff;

    & h1 {
        line-height: 1.1;
        margin-bottom: 1vw;
    }
    & figure {
        position: relative;
    }

    & figure img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 4/1;
    }
    & article {

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5vw var(--mobile-gutter);
        height: auto;
        z-index: 2;

        @media(--desktop) {
            padding: 5vw 9vw;
            width: 50%;
        }
    }
}