---
layout: base.njk
title: 2023 - We're building a powerboat!
bodyClass: powerboat
---

<section id="powerboat-hero" class="hero">
    <article>
        <h1>We're building a powerboat!</h1>
        <p>This year's boat is a little different.</p>
    </article>
    <figure><img src="/static/images/our-boats/2023-the-powerboat/header.jpg"></figure>

</section>

<div class="container primary-article">
    <aside>
       <table>
        <tr>
            <th>Year</th>
            <th>Boat</th>
        </tr>
        <tr class="active">
            <td>2023</td>
            <td>The Powerboat</td>
        </tr>
        <tr>
            <td>2022</td>
            <td><a href="/our-boats#boat-2022">"B" & Beloved Seafox</a></td>
        </tr> 
        <tr>
            <td>2021</td>
            <td><a href="/our-boats#boat-2021">Emmett N’ Owen</a></td>
        </tr>
        <tr>
            <td>2019</td>
            <td><a href="/our-boats#boat-2019">Oso Oloroso</a></td>
        </tr>
       <tr>
            <td>2018</td>
            <td><a href="/our-boats#boat-2018">Bridge</a></td>
        </tr>
       <tr>
            <td>2017</td>
            <td><a href="/our-boats#boat-2017">Tied</a></td>
        </tr>  
       <tr>
            <td>2016</td>
            <td><a href="/our-boats#boat-2016">Sea-Salad</a></td>
        </tr>   
       <tr>
            <td>2015</td>
            <td><a href="/our-boats#boat-2015">Tubby Legs</a></td>
        </tr>
       <tr>
            <td>2013</td>
            <td><a href="/our-boats#boat-2013">Seafox</a></td>
        </tr>   
       <tr>
            <td>2012</td>
            <td><a href="/our-boats#boat-2012">Starfish</a></td>
        </tr>
       <tr>
            <td>2011</td>
            <td><a href="/our-boats#boat-2011">Cora</a></td>
        </tr>   
       <tr>
            <td>2010</td>
            <td><a href="/our-boats#boat-2010">Dew Drop</a></td>
        </tr> 
       <tr>
            <td>2009</td>
            <td><a href="/our-boats#boat-2009">All My People</a></td>
        </tr>   
     <tr>
            <td>2008</td>
            <td><a href="/our-boats#boat-2008">Evelyn</a></td>
        </tr>    
    <tr>
            <td>2007</td>
            <td><a href="/our-boats#boat-2007">Bees Work</a></td>
        </tr> 
    <tr>
            <td>2006</td>
            <td><a href="/our-boats#boat-2006">The Class work</a></td>
        </tr>                                                                         
                                         

       </table>
    </aside>
    <article>
   <p>This summer’s big boat project is astounding! Not just because it's our first ever powerboat (which is super awesome) and not just because we are making this boat for our friends at <a href="https://www.lcyc-csef.org/" target="_blank">Little Cranberry Yacht Club/ LCYC</a> (which is extremely exciting!). It's because we know that this new boat will truly make it easier for folks to enjoy getting out on the water. Using this boat as a support boat, LCYC can provide safe rowing, sailing and on-water exploration activities for all ages. This boat will enable our community to continue to build and deepen its connection with the extraordinary natural world that surrounds our island. </p><br> 
    <figure id="powerboat-jump"><img src="/static/images/our-boats/2023-the-powerboat/cad.jpg"></figure><br>
   <p>We are so happy to be able to partner with LCYC on this project. We build boats with the community. They use boats with the community. It's a perfect match!</p>
   <p>This boat is an ambitious project for us. At close to 16ft long and almost 6ft wide, it’s one of the biggest builds we have ever attempted. Designed by Ben Garvey, this is a launch-style boat, making it super stable and safe, and also capable of getting up on a plane. It has a transom at both ends, providing plenty of room for passengers and gear. The boat's construction is an interesting mix of traditional and modern techniques and is made with a combination of solid wood, plywood and fiberglass. It will stretch our skill set, and require us to learn some new tricks, but we are up for the task!</p>
   
   </article>

            
    

</div>
<div class="container bottom-cards">
    <div class="card">
        <a href="/courtney-cup">
            <img src="/static/images/programs-events/courtney-cup.jpg">
            <article>
                <h5>Courtney Cup</h5>
                <p>Our summer-long ongoing rowing competition inspired by island legend, Courtney Chaplin and his love of boating and rowing, open to all. </p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/makers-night">
            <img src="/static/images/programs-events/makers-night2.jpg">
            <article>
                <h5>Maker's Night</h5>
                <p>Too young for our boat building programs? Kids 4 and up can join us weekly for Makers Night, where they learn shop safety and tool basics by creating fun crafts. </p>
                <span>Learn more</span>
            </article>
        </a>
    </div>    
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
</div>