
h3, h4, h5, h6, nav {
    font-family: "Decimal A", "Decimal B";
    font-style: normal;
    font-weight: 400;
}

nav {
    font-weight: 500; 
}

h1, h2 {
    font-family: "Decimal 2 A", "Decimal 2 B";
    font-style: normal;
    font-weight: 200;
}
