@import './base/_reset.css';
@import './base/_settings.css';
@import './base/_typography.css';

@import './components/_flickity.css';
@import './components/_nav.css';
@import './components/_footer.css';
@import './components/_eyebrow.css';
@import './components/_card.css';
@import './components/_hero.css';
@import './components/_button.css';
@import './components/_article.css';
@import './components/_get-involved.css';

@import './pages/_index.css';
@import './pages/_schedule.css';
@import './pages/_programs-events.css';
@import './pages/_summer-youth-boatbuilding.css';
@import './pages/_our-boats.css';
@import './pages/_faq.css';
@import './pages/_about.css';
@import './pages/_capital-campaign.css';

@keyframes fadeup {
    0% {
        opacity: 0;
        /* transform: translatey(10px); */
    }
    100% {
        opacity: 1;
        /* transform: translatey(0); */
    }
}
/* Write some css! */


body {
    color: var(--default-text);
    background: var(--light-bg);
}

p {
    text-wrap: pretty;
}
a {
    text-decoration: none;
    color: #1A4055;

    &:hover {
        text-decoration: underline;
    }
}



#intro, #programs-events-section, #story, #newsletter, .container {
    margin: 5vw var(--mobile-gutter);

    @media(--desktop) {
        margin: 5vw 9vw;
    }
}



p + img + p {
    margin-top: 3em;
}