---
layout: base.njk
title: 20-year-thanks
bodyClass: thanks
changeFreq: monthly
---

<div class="container">

    <article> <div>   <img src="/static/images/20-year-badge.svg"><h1>Thank you.</h1><p>Your gift helps us build the future.<br> Here’s to the next 20 years!<br><br></p><p>
Gratefully,<br>
Islesford Boatworks</p></div></article>
    <figure>
    <iframe
  src="https://www.youtube.com/embed/ULdmqoYufQc?autoplay=1&mute=1&playsinline=1"
  title="YouTube video player"
  frameborder="0"
  allow="autoplay; encrypted-media; picture-in-picture"
  allowfullscreen>
</iframe>
    </figure>
</div>
