---
layout: base.njk
title: Community-based Boatbuilding on Little Cranberry Island, Maine
bodyClass: about
---

<section id="about-hero" class="hero">
    <article>
        <h1>Our Mission and History</h1>
        {# <p>Since 2017, Islesford Boatworks has been a part of the island school children’s academic curriculum for grades K-8.</p> #}
    </article>
    <figure><img src="/static/images/about/header.jpg"></figure>

</section>

<div class="container primary-article">
    <aside>
    
        <p>We’ve engaged over 1500 individual students and volunteers in our 15 years of building boats. That number is both humbling and encouraging. It makes us so thankful for what we’ve accomplished but leaves us eager to do more, to reach a wider audience, and to continue our mission of building opportunity, community, and a future for Maine’s working waterfront.</p>
        <a href="https://www.paypal.com/donate/?hosted_button_id=2S3ZEMK5LS7X4" class="btn">Help us grow</a>
   </aside>
    <article>
        <p class="intro">We’re a community-based non-profit organization that teaches traditional wooden boatbuilding to all ages and works to serve our island, its people, and the working waterfront.</p>
        <p><img class="founders" src="/static/images/about/ravenhills.jpg">The community of Islesford, located on Little Cranberry Island Maine, was once home to a fair number of fisheries and marine-related businesses, and the island’s population relied on the ocean for their livelihood in a broad spectrum of trades. Today, however, marine-related professions on the island have ebbed to the point that only lobstering remains. In pondering the future of Islesford we have watched our waterfront change and have grown concerned about the sustainability of an island community that is increasingly cut off from the ocean.</p>
        <p>Working with the residents of Islesford, the Ravenhill family started Islesford Boatworks in 2006 as a way to support the waterfront and share their passion for woodworking and boats with children living in the Mount Desert region. By teaching kids to build traditional wooden boats, IB accomplishes its mission:</p>
        <blockquote class="intro">Building opportunity, community, and a future for Maine’s working waterfront.</blockquote>
        <br><p><img class="barn" src="/static/images/about/2013.jpg" alt="">The organization was originally housed in an 800 sq.ft. barn on the Ravenhill’s property, and primarily offered youth summer programming, serving approx 60 children each summer. Over the years, IB’s role in the community expanded and our programming along with it. In 2018, we outgrew the barn and moved into our permanent home, a historic waterfront building nicknamed “The Blue Duck.” In our new location, we’re now a community hub, serving all ages with year-round events, with some 300 participants in our summer programming.</p>
        <p>Since moving to The Blue Duck, we’ve really focused on building our role in the community. We opened our Chandlery, an historic element of the building, bringing a hardware store back to the island. The boats that we are now building are contributing to the working waterfront and larger community. We’ve also added new programs that respond to community needs, including more general tool training and support of the Cranberry Isles School. Our expansion has also helped to support the island economy by providing three year-round part-time jobs and seasonal employment for adults and teens, including our apprentice program which is specifically designed to provide job training for young adults. We’ve received so much from the community and we’re grateful for the opportunity to give something back.</p>
    </article>

</div>

<div class="container bottom-cards">
    <div class="card">
        <a href="/teen-apprentice-program">
            <img src="/static/images/programs-events/teen-apprentice.jpg">
            <article>
                <h5>Teen Apprentice Program</h5>
                <p>After a successful pilot in 2021, the Teen Apprentice program is back this year. Paid internships are available for ages 13-17.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/summer-youth-boatbuilding">
        <img src="/static/images/summer-boatbuilding.jpg">
        <article>
            <h5>Summer Youth Boatbuilding</h5>
            <p>We offer three different levels of programs, teaching kids from 7-17 the fundamentals of boatbuilding. Working together, we [launch a new boat] at the end of the summer.</p>
            <span>Learn more</span>
       </article>
       </a>
    </div>
</div>