---
layout: base.njk
title: The First Annual Blue Duck Derby
bodyClass: duck-derby
changeFreq: monthly
---

<section id="duck-derby-hero" class="hero">
    <article>
        <h1>The First Annual Blue Duck Derby</h1>
        <p>Join us on Saturday Aug 1st, 2026!</p> 
    </article>
    <figure><img src="/static/images/blue-duck-derby/blue-duck-derby.webp"></figure>

</section>

<div class="container primary-article">

    <aside>

  
         <h4>Help us Reach our $20,000 goal!</h4>
         <p>Proceeds will help Islesford  Boatworks continue to offer free and reduced programming for local kids, as well as help fund the renovation of our waterfront community shop.</p>

    <a href="https://dash.maineraffle.com/raffle/islesford-boat-works-the-great-duck-race" target="_blank" class="btn">Adopt your duck</a>
        

    </aside>
    <article>
        <h2>Adopt a duck now!</h2>
        <p>Help our community, win great prizes!</p>
        <p>To celebrate our 20th anniversary, Islesford Boatworks is hosting our first ever Blue Duck Derby in which thousands of numbered rubber ducks will be released from our shop, the historic “Blue Duck” Building, into the harbor in a race toward a finish line, with prizes awarded to the winner. You do not need to be present to win.</p>
        <section class="derby-prizes" aria-label="Blue Duck Derby prizes">
            <article class="derby-prize">
                <figure>
                    <img src="/static/images/blue-duck-derby/grand-prize.webp" alt="Groceries displayed on the beach outside Islesford Boatworks">
                </figure>
                <div>
                    <h3>Grand Prize: A summer of groceries!</h3>
                    <p>What is better than a summer in Maine? Only a summer in Maine with free groceries! The Grand Prize winner of this year's Blue Duck Derby will receive 10 weeks of groceries from our favorite local grocery store.</p>
                </div>
            </article>
            <article class="derby-prize">
                <figure>
                    <img src="/static/images/blue-duck-derby/2nd-place.webp" alt="A child working on a wooden boat in the Islesford Boatworks shop">
                </figure>
                <div>
                    <h3>2nd place: Full tuition for the entire summer program at Islesford Boatworks</h3>
                    <p>Join us in the shop and work together to build a traditional wooden boat. From reading plans, to planking the hull, kids in our program to it all!</p>
                </div>
            </article>
            <article class="derby-prize">
                <figure>
                    <img src="/static/images/blue-duck-derby/3rd-place.webp" alt="A family enjoying a lobster picnic by the water">
                </figure>
                <div>
                    <h3>3rd Place: A Maine picnic delivered to you!</h3>
                    <p>A dozen lobsters and other Maine goodies, delivered right to your door.</p>
                </div>
            </article>
            <p><small><BR><BR>Islesford Boatwork is a community-based non-profit organization that teaches traditional wooden boatbuilding to all ages and works to serve its island, its people, and the working waterfront. By teaching kids to build traditional wooden boats, IB accomplishes its mission: Building opportunity, community, and a future for Maine’s working waterfront.</small></p>
        </section>
    </article>
</div>

<div class="container bottom-cards">
    <div class="card">
        <a href="/courtney-cup">
            <img src="/static/images/programs-events/courtney-cup.jpg">
            <article>
                <h5>The Courtney Cup</h5>
                <p>Our summer-long ongoing rowing competition inspired by island legend, Courtney Chaplin and his love of boating and rowing, open to all. </p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/makers-night">
        <img src="/static/images/programs-events/makers-night2.jpg">
        <article>
            <h5>Maker's night</h5>
            <p>Too young for our boat building programs? Kids 4 and up can join us weekly for Makers Night, where they learn shop safety and tool basics by creating fun crafts. Join us for a fun run in the sun! (Or fog.)</p>


            
            <span>Learn more</span>
       </article>
       </a>
    </div>
</div>
