---
layout: base.njk
title: Boards and Chords
bodyClass: boards-and-chords
---

<section id="boards-and-chords-hero" class="hero">
    <article>
        <h1>Boards and Chords</h1>
        <p>Our weekly island music jam! Open to all ages, instruments and skill levels. Come to play, to sing along, or just to listen.</p>
    </article>
    <figure><img src="/static/images/boards-and-chords/header.jpg"></figure>

</section>

<div class="container primary-article">
    <aside>
        <h4>Join us!</h4>
        <p>We've started a google group to share times, sheet music and all things Boards and Chords. Join below to stay in the loop!</p>
        <a href="https://groups.google.com/g/boards-and-chords-2022" class="btn">Join us!</a>

    </aside>
    <article>
        <p>Though we have been hosting this jam since 2015, this weekly gathering has deep roots in the island community. Originally hosted by Hugh Smallwood in his home, this jam has brought islanders and the extended community together for over 20 years. It has always been the best kind of jam, a supportive space for everyone regardless of skill level to play together. After Hugh’s passing, we try to honor what he created by continuing his jam in our shop.</p>
    <p>
Our jam usually revolves around americana classics, fiddle tunes, and other well-known songs but it is open to all types of genres. Bring a song or two and join us each week! It's free and open to all. </p>

    </article>

    

</div>
<div class="container bottom-cards">
    <div class="card">
        <a href="/courtney-cup">
            <img src="/static/images/programs-events/courtney-cup.jpg">
            <article>
                <h5>Courtney Cup</h5>
                <p>Our summer-long ongoing rowing competition inspired by island legend, Courtney Chaplin and his love of boating and rowing, open to all. </p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/makers-night">
            <img src="/static/images/programs-events/makers-night2.jpg">
            <article>
                <h5>Maker's Night</h5>
                <p>Too young for our boat building programs? Kids 4 and up can join us weekly for Makers Night, where they learn shop safety and tool basics by creating fun crafts. </p>
                <span>Learn more</span>
            </article>
        </a>
    </div>    
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
</div>