---
layout: base.njk
title: The Blue Duck Dock Capital Campaign
bodyClass: capital-campaign
changeFreq: monthly
---

<section id="capital-campaign-hero" class="hero">
    <article>
        <h1>The Blue Duck Dock Capital Campaign</h1>
        <p><strong>Help Islesford Boatworks (IB) restore a historic Maine structure and recreate a lost piece of Maine's working waterfront. </strong></p>
        <br><a href="https://www.zeffy.com/en-US/fundraising/b2f0ac41-a7b3-48fb-bd44-68e5070a893d" targ="_blank" class="btn">Donate now</a>
    </article>
    <figure><img src="/static/images/capital-campaign/header.jpg"></figure>

</section>

<div class="container primary-article">

    <aside>

  
        <h4>How to help!</h4>
        <p>As a small community non profit IB has always relied on the generosity of its supporters. We hope you will consider making a donation and support our mission to build  a future for Maine’s working waterfront by educating a new generation in the traditional craft of wooden boat building. </p>
        <a href="https://www.zeffy.com/en-US/fundraising/b2f0ac41-a7b3-48fb-bd44-68e5070a893d" targ="_blank" class="btn">Donate now</a> 
        <div class="phases">

        <p><strong>PHASE ONE- $20,000</strong></p><Br>
        <p>Phase One of the Blue Duck Dock Capital Campaign would see us raising $20,000  in order to hire a civil engineer to help us get the proper permitting and create a buildable plan that we can use to estimate building costs.  Phase One would also see us working with relevant stakeholders to  get the necessary permissions from the National Park Service and State Historical Office to make this upgrade to the historic structure.</p>
        <br><p><strong>PHASE TWO- $80,000 to $150,000</strong></p><br>
        <p>Based on the outcome of Phase One, Phase Two would be a larger capital campaign to raise the funds necessary to build the half-tide dock.   </p>
        

        </div>
    </aside>
    <article>
        <p>The goal of this capital campaign is to raise the funds necessary to build a half-tide dock in front of the Blue Duck, the 1850’s ship store we call home. Building a new dock will not only allow IB better access to the ocean for its fleet of traditional wooden boats but will also allow us to finally complete a new ADA-compliant ramp to better serve our students, volunteers and visitors with mobility issues.</p>
        <figure><img src="/static/images/capital-campaign/2.jpg" alt="Blue Duck Upgrades"></figure>
        <br><p>IB is a 501(c)(3) non-profit community-based summer boatbuilding program located on Little Cranberry Island, Maine. By teaching kids, teens and adults to build traditional wooden boats, IB builds opportunity, community and a future for Maine’s working waterfront. </p>
        <p>In 2018 IB signed a ten-year lease with the National Park Service to take over the Blue Duck, a building listed on the National Register of Historic Places  that sits on the very working waterfront our mission aims to protect.The Blue Duck was built around 1850 as a chandlery by the Hadlock family, who owned a thriving island business that included fish wharves and a small fleet of schooners. At the time, the Islesford waterfront was lined with buildings and docks that serviced a bustling fishing and shipping industry and an island population of over 300 year-round residents. </p>
        <p>In 1912, the Blue Duck was purchased by Dr. William Otis Sawtelle, who turned the building into a museum of local history and art. In 1927, a new brick building was constructed just behind the Blue Duck to house the museum’s growing collection and the Blue Duck and new museum were donated to Acadia National Park. </p>
        <p>By the 2010s, the Blue Duck had seen better times. It had for years housed the Park Service's public bathrooms and some storage space but when IB took it over the building had racked up years of deferred maintenance and was beginning to look its age. Windows and doors were boarded up, and the interior had accumulated years of dust and debris.  </p>
        <p>Starting in 2018 IB took on a capital campaign that raised over $100,000 for initial restoration of the building which included restoring the original open floor plan, repairing doors and windows, new electrical wiring, lighting upgrades, lead paint remediation, new stove, repairing the chimney  and much more. Over the last five years IB has continued to put love, time and care into the building and has seen it transformed from a boarded-up eyesore to a vibrant community center and integral piece of the working waterfront. The Blue Duck now not only hosts our boatbuilding program but also houses a store selling fishing supplies and hardware items as well as hosting a community coffee hour, yoga classes and a makers’ space during the non-summer months. 
</p>
    <figure><img src="/static/images/capital-campaign/1.jpg" alt="Blue Duck Upgrades"></figure>
    <br><p>The next step for IB’s continued restoration of this historic structure is to rebuild the historic half-tide dock along the harbor side of the Blue Duck to allow Islesford Boatworks better water access for its small traditional wooden boats. Doing so would also restore an original feature of the building with a new wraparound walkway that connects the double doors on the western and southern facades. When the Blue Duck was originally built in c. 1850 these two doorways connected to a wraparound pier and allowed the downstairs space easy and unencumbered access to the shore. Sadly in the current state these two doorways open up to three to five- foot drops down to the beach. </p>
    <p>Building this dock would not only restore a historical feature of the building but also allow IB to add an ADA-compliant ramp that would allow our program to better serve children and adults with mobility issues. The dock would be oriented in such a way to not interfere with the near-by barge landing and would allow IB to better fulfill its mission of helping to preserve and support Maine's working waterfront.</p>
    </article>

</div>

<div class="container bottom-cards">
    <div class="card">
        <a href="/the-blue-duck">
            <img src="/static/images/blue-duck.jpg">
            <article>
                <h5>The Blue Duck</h5>
                <p>Learn more about our historic home on the shore. </p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/makers-night">
        <img src="/static/images/programs-events/makers-night2.jpg">
        <article>
            <h5>Maker's night</h5>
            <p>Too young for our boat building programs? Kids 4 and up can join us weekly for Makers Night, where they learn shop safety and tool basics by creating fun crafts. </p>
            <span>Learn more</span>
       </article>
       </a>
    </div>
</div>
