---
layout: base.njk
title: The Courtney Cup
bodyClass: courtney-cup
---

<section id="courtney-cup-hero" class="hero">
    <article>
        <h1>The Courtney Cup</h1>
        <p>An ongoing rowing competition inspired by Courtney Chaplin’s love of boating and rowing.</p>
    </article>
    <figure><img src="/static/images/courtney-cup/header.jpg"></figure>

</section>

<div class="container primary-article">
    <aside>
        <h4>The rules!</h4>
        <p>The Cup is open to anyone and everyone, and the rules are simple:</p>
        <ul>
            <li>The race is from the abutments, around the red bell buoy (or the middle green can for youth groups), and back again </li>
            <li>You time yourself, either from the boat or from someone on land</li>
            <li>Timing begins and ends when your bow crosses the end of the abutment farthest from the docks</li>
            <li>Groups of any size may participate in any rowboat - if you don’t have a boat, talk to Tony!</li>
            <li>Enough PFDs for the whole team need to be in the boat and worn by kids under 12. Talk to us if you need PFDs</li>
            <li>Our St. Ayles Skiff “Bridge” can be used by any group with 4 or more team members, but you must talk to Tony or Louise before taking the boat out
</li>
            <li>You can take as many tries as you like! Your best time will be used</li>
    
        </ul>

    </aside>
    <article>
        <p>In summer evenings on Islesford, Courtney could often be found rowing between the Cranberry Isles with his three children, fishing, exploring, and practicing together in their two-station Whitehull, “Lightning.” Courtney was one of the biggest supporters of Boatworks’ Row-a-Thon events, helping to plan the course and practicing for hours in preparation. He believed in the value of traditional skills, and the community that can be built around them. He was also an incredible rower and fierce competitor who wanted to win a race around the island. The Courtney Cup is inspired by his enthusiastic spirit and love for all things on the water.</p><p> New for 2023: The 2 teams with the fastest times will race LIVE head-to-head on the morning of the boat launch!
        <div class="inline-gallery">
            <figure><img src="/static/images/courtney-cup/gallery2.jpg"></figure>
            <br>
            <figure><img src="/static/images/courtney-cup/gallery1.jpg"></figure>            
        </div>

        <h3>The Winners</h3>
        <div class="winners">
            <table>
                <tr>
                    <td>Year</td>
                    <td>Team Name</td>
                    <td>Time</td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>B-Row-Mance</td>
                    <td>17:38</td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>By Hook or By Brooks </td>
                    <td>17:42</td>
                </tr>  
                <tr>
                    <td>2021</td>
                    <td>B-Row-Mance</td>
                    <td>17:45</td>
                </tr>     
                <tr>
                    <td>2024</td>
                    <td>succulent sweeps?</td>
                    <td>19:07</td>
                </tr> 
                                                  
            </table>
        </div>
    </article>

    

</div>
<div class="container bottom-cards">
    <div class="card">
        <a href="/makers-night">
            <img src="/static/images/programs-events/makers-night2.jpg">
            <article>
                <h5>Maker's Night</h5>
                <p>Too young for our boat building programs? Kids 4 and up can join us weekly for Makers Night, where they learn shop safety and tool basics by creating fun crafts. </p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/summer-youth-boatbuilding">
        <img src="/static/images/summer-boatbuilding.jpg">
        <article>
            <h5>Summer Youth Boatbuilding</h5>
            <p>We offer three different levels of programs, teaching kids from 7-17 the fundamentals of boatbuilding. Working together, we [launch a new boat] at the end of the summer.</p>
            <span>Learn more</span>
       </article>
       </a>
    </div>
</div>
