---
layout: base.njk
title: Frequently Asked Questions
bodyClass: faq
---

<section id="faq-hero" class="hero">
    <article>
        <h1>Frequently Asked Questions</h1>
        {# <p>Subheadline here</p> #}
    </article>
    <figure><img src="/static/images/faq/header.jpg"></figure>

</section>
<div class="container primary-article">
    <aside>
        <h4>Have a question?</h4>
        <p>Don't see the answer you're looking for? Ask away, and maybe someone else has the same question, so we'll post it here too.</p>
        <a href="mailto:islesfordboatworks@gmail.com" class="btn">Ask a question</a>
   </aside>
    <article>
        <div>
            <h5>Q: Do kids have to attend all 6 weeks?</h5>
            <p>No.</p>
        </div>
        <div>
            <h5>Q: Is there a minimum attendance?</h5>
            <p>We ask that kids attend for at least one week (two programs).</p>
        </div>  
        <div>
            <h5>Q: Do kids need any previous knowledge or skills?</h5>
            <p>No previous knowledge or skills are needed for any of our programs.</p>
        </div>  
        <div>
            <h5>Q: Are the age ranges for each program flexible?</h5>
            <p>Though the minimum age requirement is firm, the age ranges for our three levels of programming are variable based on what is the best fit for your child.</p>
        </div>  
        <div>
            <h5>Q: How do I know which class group is best for my child?</h5>
            <p>Our recommended age ranges and past experience of your child are good indicators of which class would be best. Other factors, such as keeping them with their peer group can also be a consideration. The main goal is to have fun. If you are still unsure, please feel free to email Louise at islesfordboatworks@gmail.com to discuss what would work best!</p>
        </div>   
        <div>
            <h5>Q: Can I sign up my child for more program days?</h5>
            <p>We are currently only able to offer two days of programming per week per child. However, please check out the other events we offer weekly if you are wanting more time in the shop!</p>
        </div> 
        <div>
            <h5>Q: Is there a minimum age to join the boat building programs?</h5>
            <p>Any child turning 7 years old this calendar year or older can join our program. All kids under this age requirement are not able to join this summer.</p>
        </div> 
        <div>
            <h5>Q: Do you have other programs for younger kids?</h5>
            <p>We have a Maker’s Night program for kids ages 4-6 every Tuesday from 5:30-7:30PM, where we make fun crafts, learn the basics of shop safety, and play games. And kids of all ages, accompanied by an adult, are welcome to join in Saturday afternoon Family Time, in which folks can join in on various activities going on in the shop.</p>
        </div>  
        <div>
            <h5>Q: What should my kid bring to the program?</h5>
            <p>Close-toed shoes are required. Its also a good idea to always wear clothes that can get messy, bring a snack and have a water bottle labeled with their name. Please tie up long hair and avoid especially loose/long clothing as well.</p>
        </div> 
        <div>
            <h5>Q: Is there a maximum age?</h5>
            <p>We welcome students under the age of 18 in our youth boat building programs.</p>
        </div>   
        <div>
            <h5>Q: Do you have programs for adults?</h5>
            <p>We have several community programs for people of all ages. Check out the schedule of events for community programs. Plus, adults are always welcome as volunteers to help us in the shop! Please reach out to Tony at islesfordboatworks@gmail.com if you’re interested in becoming a volunteer.</p>
        </div>   
        <div>
            <h5>Q: Do you offer reduced tuition?</h5>
            <p>Yes. We have a policy to reduce any financial barriers to participation, ensuring that everyone can join in. We offer reduced tuitions based on need, and we can also help to reduce ferry service fees if coming from off island. Please refer to the registration form for more information about reduced or free tuition. Also, you can reach out to Tony at islesfordboatworks@gmail.com with any additional questions or concerns.</p>
        </div> 
        <div>
            <h5>Q: Do you offer rides to and from the island?</h5>
            <p>Yes. We have a policy to reduce any financial barriers to participation, ensuring that everyone can join in. We offer reduced tuitions based on need, and we can also help to reduce ferry service fees if coming from off island. Please refer to the registration form for more information about reduced or free tuition. Also, you can reach out to Tony at islesfordboatworks@gmail.com with any additional questions or concerns.</p>
        </div>
        <div>
            <h5>Q: What are your COVID-19 requirements?</h5>
            <p>The COVID-19 pandemic is still progressing, and we hope it will be much reduced by summertime. Previous to the start of the summer program, we will email all registrants our COVID-19 protocols based on the situation at that time.</p>
        </div>                                                                                                             


    </article>

</div>
{% include "components/get-involved.njk" %}
