---
layout: base.njk
title: Frequently Asked Questions
bodyClass: faq
---

<section id="faq-hero" class="hero">
    <article>
        <h1>Frequently Asked Questions</h1>
        {# <p>Subheadline here</p> #}
    </article>
    <figure><img src="/static/images/faq/header.jpg"></figure>

</section>
<div class="container primary-article">
    <aside>
        <h4>Have a question?</h4>
        <p>Don't see the answer you're looking for? Ask away, and maybe someone else has the same question, so we'll post it here too.</p>
        <a href="mailto:islesfordboatworks@gmail.com" class="btn">Ask a question</a>
   </aside>
    <article>
        <div>
            <h5>Q: Do kids have to attend all 6 weeks?</h5>
            <p>No.</p>
        </div>
        <div>
            <h5>Q: Is there a minimum attendance?</h5>
            <p>We ask that kids attend for at least one week (two programs).</p>
        </div>  
        <div>
            <h5>Q: Do kids need any previous knowledge or skills?</h5>
            <p>No previous knowledge or skills are needed for any of our programs.</p>
        </div>  
        <div>
            <h5>Q: Are the age ranges for each program flexible?</h5>
            <p>Though the minimum age requirement is firm, the age ranges for our three levels of programming are variable based on what is the best fit for your child.</p>
        </div>  
        <div>
            <h5>Q: How do I know which class group is best for my child?</h5>
            <p>Our recommended age ranges and past experience of your child are good indicators of which class would be best. Other factors, such as keeping them with their peer group can also be a consideration. The main goal is to have fun. If you are still unsure, please feel free to email Louise at islesfordboatworks@gmail.com to discuss what would work best!</p>
        </div>   
        <div>
            <h5>Q: Can I sign up my child for more program days?</h5>
            <p>We are currently only able to offer two days of programming per week per child. However, please check out the other events we offer weekly if you are wanting more time in the shop!</p>
        </div> 
        <div>
            <h5>Q: Is there a minimum age to join the boat building programs?</h5>
            <p>Any child turning 7 years old this calendar year or older can join our program. All kids under this age requirement are not able to join this summer.</p>
        </div> 
        <div>
            <h5>Q: Do you have other programs for younger kids?</h5>
            <p>We have a Maker’s Night program for kids ages 4-6 every Tuesday from 5:30-7:30PM, where we make fun crafts, learn the basics of shop safety, and play games. And kids of all ages, accompanied by an adult, are welcome to join in Saturday afternoon Family Time, in which folks can join in on various activities going on in the shop.</p>
        </div>  
        <div>
            <h5>Q: What should my kid bring to the program?</h5>
            <p>Close-toed shoes are required. Its also a good idea to always wear clothes that can get messy, bring a snack and have a water bottle labeled with their name. Please tie up long hair and avoid especially loose/long clothing as well.</p>
        </div> 
        <div>
            <h5>Q: Is there a maximum age?</h5>
            <p>We welcome students under the age of 18 in our youth boat building programs.</p>
        </div>   
        <div>
            <h5>Q: Do you have programs for adults?</h5>
            <p>We have several community programs for people of all ages. Check out the schedule of events for community programs. Plus, adults are always welcome as volunteers to help us in the shop! Please reach out to Tony at islesfordboatworks@gmail.com if you’re interested in becoming a volunteer.</p>
        </div>   
        <div>
            <h5>Q: Do you offer reduced tuition?</h5>
            <p>Yes. We have a policy to reduce any financial barriers to participation, ensuring that everyone can join in. We offer reduced tuitions based on need, and we can also help to reduce ferry service fees if coming from off island. Please refer to the registration form for more information about reduced or free tuition. Also, you can reach out to Tony at islesfordboatworks@gmail.com with any additional questions or concerns.</p>
        </div> 
        <div>
            <h5>Q: Do you offer rides to and from the island?</h5>
            <p>No. We don't offer direct transportation to and from the island. However we offer assistance to help to reduce or eliminate the ferry service fees if needed. Please reach out to Tony at islesfordboatworks@gmail.com with any additional questions or concerns.</p>
        </div>
        <div>
            <h5>Q: What are your COVID-19 requirements?</h5>
            <p>Our COVID-19 policy is subject to change over the summer, depending on CDC guidelines. Please feel free to reach out to Louise or Tony at any time with questions or concerns about our policies. We want every student to be able to attend Boatworks, and are more than willing to adapt our policies to make our program as inclusive as possible.<br><br>Similarly to Maine school districts, we are deciding our mask requirements based on the CDC-determined community risk level of Hancock County. More information and up-to-date data for Hancock County can be found <a href="https://www.cdc.gov/coronavirus/2019-ncov/your-health/covid-by-county.html">here</a>.</p>
            <ul>
                <li>Green = low-risk
                    <ul>
                        <li>Masks are optional</li>
                        <li>Self-test if you have symptoms or close contact with a COVID-positive individual</li>
                    </ul>
                </li>
                <li>Yellow = medium-risk
                    <ul>
                        <li>Masks are optional</li>
                        <li>Self-test if you have symptoms or a close contact with a COVID-positive
individual</li>
<li>More concern must be taken if you are immunocompromised or otherwise
high-risk</li>
                    </ul>
                </li>
                <li>Red = high-risk
                    <ul>
                        <li>Masks are required</li>
                        <li>Self-test if you have symptoms or close contact with a COVID-positive individual</li>
                        <li>Highest concern for high-risk individuals</li>
                    </ul>
                </li>
            </ul>
            <br>
            <p>At this time, Hancock County is classified as Yellow, or medium-risk, so <strong>we are not requiring masks for anyone in the program</strong>. If the classification for Hancock County changes at any point, we will notify you and adjust our requirements accordingly.<br><br>Anyone is welcome to wear a mask at any time, but we will not be enforcing mask-wearing unless you specify to us that you would like your child to wear a mask during the program.<br><br><strong>If you/your child has COVID symptoms or a direct exposure, please notify us and don’t come to class until you test negative.</strong><br><br>
            <strong>
If you/your child tests positive for COVID-19, please notify us and quarantine according to CDC guidelines. </strong> We will maintain anonymity, but it may be necessary for us to notify other students/participants if there is a risk of exposure.<br><br>Please note that our staff and any visitors to the shop/chandlery will also not be required to wear masks so long as the classification for Hancock County is medium-risk or lower.
<br><br>Our ability to stay open and provide classes is dependent on the responsibility of our community. We are all tired of guidelines, masks, and tests, but we need to continue working together to keep our island a safe and healthy place. Be responsible and proactive if you are concerned you have COVID, stay up-to-date on vaccinations, and encourage mindfulness in your children. Thank you!<br><br>Again, if you/your child are concerned about participating due to any of the above policies, please let us know! Our priority is inclusivity.</p>

        </div>                                                                                                             


    </article>

</div>
{% include "components/get-involved.njk" %}
