---
layout: base.njk
title: Welcome
bodyClass: home
changeFreq: weekly
---

{# {%- from "macros.njk" import component -%}

<div class="p-6">
    <div class="container">
        {{ component("headings/title", { content: "Title Component" }) }}
    </div> #}

<section id="hero">
    <div class="main-carousel">
        <div class="carousel-cell">
            <figure><img src="/static/images/hero/1.jpg"></figure>
            <article>
                <span>
                    <h1>Building <em>Kids</em>
                        <br> with Boats</h1>
                </span>
            </article>
        </div>

        <div class="carousel-cell">
            <figure><img src="/static/images/hero/2.jpg"></figure>
            <article>
                <span>
                    <h1>Building <em>Community</em>
                        <br>  with Boats</h1>
                </span>
            </article>
        </div>
        <div class="carousel-cell">
            <figure><img src="/static/images/hero/3.jpg"></figure>
            <article>
                <span>
                    <h1>Building <em>Opportunity</em>
                        <br>  with Boats</h1>
                </span>
            </article>
        </div>
        <div class="carousel-cell">
            <figure><img src="/static/images/hero/4.jpg"></figure>
            <article>
                <span>
                    <h1>Building <em>a Future</em>
                        <br>  for Maine's Working Waterfront</h1>
                </span>
            </article>
        </div>
    </div>
</section>

<section id="intro">
    <article>
        <p>Welcome to Islesford Boatworks! We’re a non-profit community-based boatbuilding program for folks of all ages situated on Little Cranberry Island, Maine. Through our programs, services and events, we strive to accomplish our mission to build opportunity, community, and a future for Maine’s working waterfront. </p>
    </article>
    <aside>
        <h6>Quick Links</h6>
        <ul>
            {# <li>
                <a href="/teen-apprentice-program">Teen Apprentice Program</a>
            </li>             #}
            <li>
                <a href="https://forms.gle/iGkqaZuyX3yU3cbh8" _target="_blank">Register for Summer 2025!</a>
            </li> 
            {# <li>
                <a href="/capital-campaign">Help us upgrade the Blue Duck!</a>
            </li> #}
           {# <li>
                <a href="https://islesford-boatworks.square.site/s/shop">Shop the holiday market!</a>
            </li>             #}

            <li>
                <a href="/schedule">Summer 2025 Schedule</a>
            </li>


            <li>
                <a href="/faq">Frequently Asked Questions</a>
            </li>
        </ul>
    </aside>
</section>

<section id="programs-events-section">
    <div class="card">
        <a href="/summer-youth-boatbuilding">
            <img src="/static/images/programs-events/youth.jpg">
            <article>
                <h5>Summer Youth Boatbuilding</h5>
                <p>We offer three different levels of programs, teaching kids from 7-17 the fundamentals of boatbuilding. Working together, we [launch a new boat] at the end of the summer.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>

    <div class="card">
        <a href="/school-year-woodworking">
            <img src="/static/images/programs-events/school-year.jpg">
            <article>
                <h5>School Year Woodworking</h5>
                <p>Serving our local K-8 school, kids join us weekly in the shop as part of their school day, where we provide real world applications to support concepts taught in the classroom.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/teen-apprentice-program">
            <img src="/static/images/teen-apprentice-program/jump.jpg">
            <article>
                <h5>Teen Apprentice Program</h5>
                <p>Summer employement for teens while also preparing the next generation of Boatworks staff. </p>
                <span>Learn more</span>
            </article>
        </a>
    </div>    
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/programs-events/boards-chords.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>View events</span>
            </article>
        </a>
    </div>

</section>

<section id="story">
    <div class="top">
        <article>
            <h2>Community-based Boatbuilding on Little Cranberry Island, Maine</h2>
            <p>More than just boatbuilding, we serve as a <a href="programs-events/#community-events">community hub</a> providing a place for all ages to gather, to share, and to learn throughout the year.</p>
            <a href="#" class="img-caption" data-tooltip="The Emmett N' Owen outside of the Blue Duck ready for launch day."><img src="/static/images/story-blue-duck.jpg"></a>
        </article>
        <article>
            <a href="/summer-youth-boatbuilding" class="img-caption" data-tooltip="From fractions to trigonometry, boatbuilding provides real-world applications for complicated math concepts"><img src="/static/images/story-sail.jpg"></a>
            <p>In 2018, Islesford Boatworks moved into its new home on the shore, <a href="#">The Blue Duck</a>, a  historic waterfront building from 1852 that had been derelict for many years and was brought back to life for Boatworks through community support.</p>
            {# <a href="#">The Blue Duck</a> #}
        </article>
    </div>
    <div class="bottom">
        <article>
            <a href="programs-events/#community-events" class="img-caption" data-tooltip="Since 2006 we've launched 15 boats. Launch day is always a fun community celebration."><img src="/static/images/story-launch.jpg"></a>
            <p>Each summer we <a href="our-boats">launch a new boat</a>, built with the combined efforts of our island’s kids and adults. From supporting the working waterfront, providing access to our waterways, to preserving local history, all of our boats serve the community in some way.</p>
            {# <a href="#">Our Boats</a> #}
        </article>
        <article>
            <p>The <a href="/courtney-cup">Courtney Cup</a> is a summer-long ongoing rowing competition inspired by island legend, Courtney Chaplin and his love of boating and rowing. The Cup is open to anyone and everyone of any age and skill level.</p>
            {# <a href="#">The Courtney Cup</a> #}
            <a href="/courtney-cup" class="img-caption" data-tooltip="Team &#34;Boston Strong&#34; taking the Bridge on a morning run for the Courtney Cup"><img src="/static/images/story-courtney-cup.jpg"></a>
        </article>
    </div>

</section>

{# <section id="newsletter">
    <h3>Sign up for our newsletter</h3>
    <p></p>
</section> #}
<section id="photo-break"></section>

{% include "components/get-involved.njk" %}
