---
layout: base.njk
title: Ladies' Night
bodyClass: ladies-night
changeFreq: monthly
---

<section id="ladies-night-hero" class="hero">
    <article>
        <h1>Ladies' Night</h1>
        {# <p>Join Little Cranberry Yacht Club and Islesford Boatworks for an evening of powerboating and crafting with power tools. 
</p> #}
    </article>
    <figure><img src="/static/images/ladies-night/header.jpg"></figure>

</section>

<div class="container primary-article">

    <aside>

  
         <h4>Join us for Ladies' Night!</h4>
        <p>Ladies night will be held June 30th, July 14, and July 28th from from 5:30pm to 7:30pm.</p><br>
        <p>Cost is $20 pay-at-the-door. Please drop us a line to let us know you're coming!</p>
        <a href="mailto:islesfordboatworks@gmail.com" class="btn">Sign up</a> 

    </aside>
    <article>
        <p>Join Little Cranberry Yacht Club and Islesford Boatworks for an evening of powerboating and crafting with power tools. This adult program is intended to teach the basics of these skills, but all skill levels are welcome. We will also provide ouers d'oeuvres and (non-alcoholic) drinks, and you will get to take your wooden craft home with you! </p>
        <p>Ladies Night is a program created specifically for women and non-binary people to learn how to use powertools and powerboats. These skills are important in daily island life, but are historically inaccessible to people other than men. LCYC and IBW have teamed up with this event series to help make these activities accessible to all! As with all of our programs, feel free to attend as many or as few of these events as you’d like. Each evening will be slightly different, but skills will not directly build upon each other. </p>

    </article>

</div>

<div class="container bottom-cards">
    <div class="card">
        <a href="/teen-apprentice-program">
            <img src="/static/images/programs-events/courtney-cup.jpg">
            <article>
                <h5>The Courtney Cup</h5>
                <p>Our summer-long ongoing rowing competition inspired by island legend, Courtney Chaplin and his love of boating and rowing, open to all. </p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/makers-night">
        <img src="/static/images/programs-events/makers-night2.jpg">
        <article>
            <h5>Maker's night</h5>
            <p>Too young for our boat building programs? Kids 4 and up can join us weekly for Makers Night, where they learn shop safety and tool basics by creating fun crafts. </p>
            <span>Learn more</span>
       </article>
       </a>
    </div>
</div>
