---
layout: base.njk
title: Maker's Night
bodyClass: makers-night
changeFreq: monthly
---

<section id="makers-night-hero" class="hero">
    <article>
        <h1>Maker's Night</h1>
        <p>Too young for our boat building programs? No problem! Kids 4 and up can join us on Maker’s Night, where we learn shop safety and tool basics by creating fun crafts. 
</p>
    </article>
    <figure><img src="/static/images/programs-events/makers-night.jpg"></figure>

</section>

<div class="container primary-article">

    <aside>
        <h4>Join us for Maker's Night!</h4>
        <p>Join us Tuesdays from 5:00-6:00. Maker's night is $10 pay-at-the-door and open to children 4 and up. Spots do fill up, so please drop us a line to let us know you're coming!</p>
        <a href="mailto:islesfordboatworks@gmail.com" class="btn">Sign up</a>
    </aside>
    <article>
        <p>In this weekly program, we provide close supervision as we use craft projects to introduce young children to the woodshop and to the fundamentals of using tools. We teach them how to be safe in a shop, but also get them excited about joining Boatworks in a few years. Most importantly, we’re giving them a chance to create.</p>
        <p>Originally known as “Date Night at the Duck,” this program not only gives your little ones a chance to work in the shop, but you can use the time to eat an uninterrupted dinner! </p>

    </article>

</div>

<div class="container bottom-cards">
    <div class="card">
        <a href="/teen-apprentice-program">
            <img src="/static/images/programs-events/courtney-cup.jpg">
            <article>
                <h5>Courtney Cup</h5>
                <p>Our summer-long ongoing rowing competition inspired by island legend, Courtney Chaplin and his love of boating and rowing, open to all. </p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/summer-youth-boatbuilding">
        <img src="/static/images/summer-boatbuilding.jpg">
        <article>
            <h5>Summer Youth Boatbuilding</h5>
            <p>We offer three different levels of programs, teaching kids from 7-17 the fundamentals of boatbuilding. Working together, we [launch a new boat] at the end of the summer.</p>
            <span>Learn more</span>
       </article>
       </a>
    </div>
</div>
