---
layout: base.njk
title: The Islesford Half Marathon
bodyClass: marathon
changeFreq: monthly
---

<section id="marathon-hero" class="hero">
    <article>
        <h1>The Islesford Half Marathon & 5k</h1>
        <p>All proceeds go to Boatworks</p> 
</p>
    </article>
    <figure><img src="/static/images/marathon/header.webp"></figure>

</section>

<div class="container primary-article">

    <aside>

  
         <h4>Join us for the 3rd Annual Half Marathon & 5k!</h4>
        <p>$40 per person. All runners get a Boatworks Marathon shirt (must sign up by Aug. 2, 2025). All proceeds go to Boatworks.</p>
    <a href="https://islesford-boatworks.square.site/product/2024-half-marathon-and-5k/314" target="_blank" class="btn">Register here</a>
        

    </aside>
    <article>
        <p>Little Cranberry Island may be only 1 mile wide by 1.5 miles long, but that won't stop us creating a 13.1 (and 3.1) mile course for the 3rd Annual Islesford Half Marathon. </p>
            <p><strong>When:</strong> Sunday, August 3rd. Registration: 8:30. Race starts at 9:00. (Take the 7:30 boat from NE Harbor)<br>
            <strong>Where:</strong>  Start and end at the town field. </p>
            <p>
Meet at Town Field before the race to receive a number.</p>
            <p> We'd like to give a huge Boatworks thanks to Marilyn and the rest of Caroll family for organizing this event!</p>
    </article>

</div>

<div class="container bottom-cards">
    <div class="card">
        <a href="/courtney-cup">
            <img src="/static/images/programs-events/courtney-cup.jpg">
            <article>
                <h5>The Courtney Cup</h5>
                <p>Our summer-long ongoing rowing competition inspired by island legend, Courtney Chaplin and his love of boating and rowing, open to all. </p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/makers-night">
        <img src="/static/images/programs-events/makers-night2.jpg">
        <article>
            <h5>Maker's night</h5>
            <p>Too young for our boat building programs? Kids 4 and up can join us weekly for Makers Night, where they learn shop safety and tool basics by creating fun crafts. Join us for a fun run in the sun! (Or fog.)</p>


            
            <span>Learn more</span>
       </article>
       </a>
    </div>
</div>
