---
layout: base.njk
title: Our Boats
bodyClass: our-boats
changeFreq: monthly
---

<section id="boats-hero" class="hero">
    <article>
        <h1>Our Boats</h1>
        <p>We are proud to showcase the boats that have inspired dreams, strengthened friendships, built character and brought us all a little closer to one another.</p>
    </article>
    <figure><img src="/static/images/our-boats/header.jpg"></figure>

</section>
<div class="container boat-container">
    <div><h3>Since 2017 we made a strategic shift in the boats we build. Now all of the boats built serve the community and the working waterfront. They remove barriers to accessing our local waterways, help to connect folks with the natural world and provide recreation activities that get people out and moving. They also have helped to conserve local heritage, support traditional and sustainable fishing methods and connect, share and preserve generational knowledge.</h3>
        </div>

        <div>
            <article id="boat-2024">
                <span class="date">2025</span>
                <h3>Our next Chummy</h3>
                <p>It’s in our mission to contribute to preserving our working waterfront and add to the community's resources. Boatworks has made that mission central to our boatbuilding. This summer is no different as we undertake a Chummy skiff, an iconic rowboat designed by our island’s Arthur ”Chummy” Spurling. The work for this boat started last summer with our apprentices who took lines and measurements from several existing Chummys, so that we are able to build as authentic a reproduction as possible. We want to help preserve the things that make a Chummy a Chummy! And while it’s not our biggest build ever, it is the most ambitious and complicated as it will push us to learn new skills and  techniques. This Chummy might take us three summers, but we know that seeing it in the water will be worth the wait!
 
                </p><br>
                {# <p><a href="/our-boats/2023-the-powerboat#powerboat-jump" class="btn">Learn more!</a> #}
            </article> 
            <figure>
                <img src="/static/images/our-boats/2025-chummy.webp" style="aspect-ratio: 1/1;">
            </figure>
        </div>
            <div>
                <article id="boat-2024">
                    <span class="date">2024</span>
                    <h3>Chilly Cucumber</h3>
                    <p>We built a powerboat! This summer’s big boat project is astounding, a 15ft Garvey Skiff, designed by local boat designer Doug Hylan. Its astounding, not just because it's our first ever powerboat (which is super awesome) and not just because we made this boat for our friends at Little Cranberry Yacht Club/ LCYC (which is extremely exciting!). It's because we know that this new boat will truly make it easier for folks to enjoy getting out on the water. Using this boat as a support boat, LCYC can provide safe rowing, sailing and on-water exploration activities for all ages. This boat will enable our community to continue to build and deepen its connection with the extraordinary natural world that surrounds our island. 
                    </p><br>
                    {# <p><a href="/our-boats/2023-the-powerboat#powerboat-jump" class="btn">Learn more!</a> #}
                </article> 
                <figure>
                    <img src="/static/images/our-boats/2024-chilly-cucumber.webp" style="aspect-ratio: 1/1;">
                </figure>
            </div>
            <div>
        <article id="boat-2023">
            <span class="date">2023</span>
            <h3>Shirley T</h3>
            <p>While our older kids started on our first ever powerboat, the younger and middle groups designed and built a skin on frame canoe. This boat is so special because it was our first boat actually designed by the kids! Also, its the first build that former student turned director, Louise Chaplin, was completely in charge of. Louise led the kids through all aspects of boat design. From length to width, rocker and sheer, and weight to strength, the kids were in charge, The result was a 15ft solo canoe built for speed!</p><br>
            {# <p><a href="/our-boats/2023-the-powerboat#powerboat-jump" class="btn">Learn more!</a> #}
        </article>
        <figure>
            <img src="/static/images/our-boats/2023-shirley-t.webp">
        </figure>
    </div>
    <div>
        <article id="boat-2022">
            <span class="date">2022</span>
            <h3>"B" & Beloved Seafox</h3>
            <p>The School program was back in action in 2022 after our COVID hiatus! The team picked up right where we left off, recreating a historic island boat, the Victor White skiff. As with all of our projects,this program was much more than just building a boat, but was also about getting a better understanding of the island’s history. Students in the school program not only worked on the skiff, but they also researched Victor White to understand his life, his role, and impact on the community through the lens of this boat.</p><br>
            <p>The boat was finished during the summer session along with a restoration of <a href="#boat-2013">2013's Seafox</a>. Seafox has always been a crowd favorite, and now in it's rejeuvinated state it has been renamed, Beloved Seafox.
        </article>
        <figure>
            <img src="/static/images/our-boats/2022-victor-white-skiff-beloved-sea-fox.jpg">
        </figure>
    </div>
    <div>
        <article id="boat-2021">
            <span class="date">2020 to 2021</span>
            <h3>Emmett N’ Owen</h3>
            <p>We were delighted to launch the 20’ dory built for Rick Alley, bringing an end to our most ambitious, largest project ever. We started building this dory in 2019 and with COVID interruptions and the sheer size of this boat, it took us some time! What really makes this project special, however, is that this was our
first boat that will be part of the working waterfront. Rick plans to use this boat to store and set his fish trap, which is more than a way of providing bait for his traps, as it preserves this traditional method of catching fish.
</p>
        </article>
        <figure>
            <img src="/static/images/our-boats/2020-2021-emmett-n-owen.jpg">
        </figure>
    </div>
    <div>
        <article id="boat-2019">
            <span class="date">2019</span>
            <h3>Oso Oloroso</h3>
            <p>Our final finboat, Oso Oloroso (spanish for stinky bear), was a great boat to bring this series to an end. It was the first boat build in our new home, <a href="/the-blue-duck/">the Blue Duck</a>.
</p>
        </article>
        <figure>
            <img src="/static/images/our-boats/2019-oso-oloroso.jpg">
        </figure>
    </div> 
    <div>
        <article id="boat-2018">
            <span class="date">2018</span>
            <h3>Bridge</h3>
            <p>A 4-person racing row boat  built by our inaugural school program kids, along with help from the community. Its design, called a St Ayles skiff, is specially made for coastal communities to build and create crew teams. Ours is used for recreation, to race, and even to row to school (hence the school bus paintwork) </p>
        </article>
        <figure>
            <img src="/static/images/our-boats/2018-bridge.jpg">
        </figure>
    </div>   
    <div>
        <article id="boat-2017">
            <span class="date">2017</span>
            <h3>Tied</h3>
            <p>Our third finboat, Tied, gots its name when the vote to choose the name was too close to call. It was starting to cause some arguments among the kids ( and some adults too!) Island elder Ashley Bryan stepping in to settle the dispute and said “it’s Tied!”. Everyone agreed and the name stuck. </p>
        </article>
        <figure>
            <img src="/static/images/our-boats/2017-tide.jpg">
        </figure>
    </div> 

    <div>
        <article id="boat-2016">
            <span class="date">2016</span>
            <h3>Sea-Salad</h3>
            <p>Our second finboat, so named for the seaweed inspired designs in the deck hatches, created from crushed sea glass inlays.</p>
        </article>
        <figure>
            <img src="/static/images/our-boats/2016-sea-salad.jpg">
        </figure>
    </div>
    <div>
        <article id="boat-2015">
            <span class="date">2014 - 2015</span>
            <h3>Tubby Legs</h3>
            <p>Taking two summers to complete, this was the most technically challenging project we have built so far. But, boy was it worth it! This small sailing canoe, driven by a pedal powered fish fin, is as fun to sail as it was to build.</p>
        </article>
        <figure>
            <img src="/static/images/our-boats/2014-2015-tubby-legs.jpg">
        </figure>
    </div>
    <div>
        <article id="boat-2013">
            <span class="date">2013</span>
            <h3>Seafox</h3>
            <p>A modified version of Harry Bryan’s Fiddlehead, this 14′ decked canoe is perfect for paddling around the island. The kids had a blast building this unique boat, and everybody involved got to add their initials to the boat in nautical letter.</p>
        </article>
        <figure>
            <img src="/static/images/our-boats/2013-seafox.jpg">
        </figure>
    </div>  
    <div>
        <article id="boat-2012">
            <span class="date">2012</span>
            <h3>Starfish</h3>
            <p>In 2012 we once again built another of <a href="https://www.harrybryan.com/" target="_blank">Harry Bryan‘s</a> designs when we took on the construction of his Ladybug, a wheelbarrow boat designed to make launching a snap. Named “Starfish” by the students, this little boat was a fun project that the kids loved, and that turned out quite wonderfully. The boat rows well and is a breeze to bring up the shore.</p>
        </article>
        <figure>
            <img src="/static/images/our-boats/2012-starfish.jpg">
        </figure>
    </div> 
    <div>
        <article id="boat-2011">
            <span class="date">2011</span>
            <h3>Cora</h3>
            <p>In 2011 we took on our biggest challenge yet when we built a Chummy Spurling rowing skiff. The Cora as she came to be called, was built to the lines of the famous boatbuilder Arthur “Chummy” Spurling a local boatbuilding legend that was Islesford’s last full time boatbuilder who lived to the ripe old age of 102. He died on his birthday after mowing his lawn! Chummy’s skiffs continue to be used to this day and one of his boats was used for the mold of the great rowing Jarvis Newman 12.5′ skiffs. The Cora was named after Chummy’s wife, and was by far our most complicated boat, taking many hours of volunteer labor to finish her in time for the Pirate Launch.</p>
        </article>
        <figure>
             <img src="/static/images/our-boats/2011-cora.jpg">
        </figure>
    </div> 
    <div>
        <article id="boat-2010">
            <span class="date">2010</span>
            <h3>Dew Drop</h3>
            <p>In 2010 we took on the challenge to make a beautiful plywood skiff. The Bevin’s Skiff is a classic teaching skiff with a moderate rocker and a handsome sheer, coming in at just under 12′, the Bevin’s was a joy to build and for the first time, the students named her and chose her colors.</p>
        </article>
        <figure>
            <img src="/static/images/our-boats/2010-dew-drop.jpg">
        </figure>
    </div> 
    <div>
        <article id="boat-2009">
            <span class="date">2009</span>
            <h3>All My People</h3>
            <p>In 2009 we couldn’t help ourselves but to build another Geodesic Airolite, this time in a more traditional shape, the Classic 10 is inspired by the Whitehall and weighs in at 40lbs.</p>
        </article>
        <figure>
            <img src="/static/images/our-boats/2009-all-my-people.jpg">
        </figure>
    </div>
    <div>
        <article id="boat-2008">
            <span class="date">2008</span>
            <h3>Evelyn</h3>
            <p>In 2008 we ventured into the wild world of Geodesic Airolite boats with the Snowshoe 14, a 30lb beauty of an open kayak complete with handmade paddles. </p>
        </article>
        <figure>
            <img src="/static/images/our-boats/2008-evelyn.jpg">
        </figure>
    </div> 
    <div>
        <article id="boat-2007">
            <span class="date">2007</span>
            <h3>Bees Work</h3>
            <p>We followed up with another Daisy 12½’ in 2007. It was a fun and challenging build, which we celebrated with a wonderful launch day.</p>
        </article>
        <figure>
            <img src="/static/images/our-boats/2007-bees-work.jpg">
        </figure>
    </div>        
    <div>
        <article id="boat-2006">
            <span class="date">2006</span>
            <h3> The Class Work</h3>
            <p>We started our first summer with a very ambitious boat design, the Daisy 12 ½’ by Harry Bryan, which we completed in 9 fun-filled weeks.</p>
        </article>
        <figure>
            <img src="/static/images/our-boats/2006-the-class-work.jpg">
        </figure>
    </div>                                                                                
</div>


{% include "components/get-involved.njk" %}