---
layout: base.njk
title: Classes and Events
bodyClass: programs-events
changeFreq: monthly
---
<section id="programs-hero" class="hero">
    <article>
        <h1>Programs <br>& Events</h1>
        <p>We have classes for all ages and skill levels. All of our community events are free and open to everyone. </p>
    </article>
    <figure><img src="/static/images/programs-events/header.jpg"></figure>

</section>
<div class="container">
    <section id="boatbuilding">
        <h3>Boatbuilding programs</h3>
        <div class="card-container">
            <div class="card">
                <a href="../summer-youth-boatbuilding">
                    <img src="/static/images/programs-events/youth.jpg">
                    <article>
                        <h5>Summer Youth Boatbuilding</h5>
                        <p>We offer three different levels of programs, teaching kids from 7-17 the fundamentals of boatbuilding. Working together, we [launch a new boat] at the end of the summer.</p>
                        <span>Learn more</span>
                    </article>
                </a>
            </div>

            <div class="card">
                <a href="/school-year-woodworking">
                    <img src="/static/images/programs-events/school-year.jpg">
                    <article>
                        <h5>School Year Woodworking</h5>
                        <p>Serving our local K-8 school, kids join us weekly in the shop as part of their school day, where we provide real world applications to support concepts taught in the classroom.</p>
                        <span>Learn more</span>
                    </article>
                </a>
            </div>
            <div class="card">
                <a href="/our-boats">
                    <img src="/static/images/our-boats/2019-oso-oloroso.jpg">
                    <article>
                        <h5>Our Boats</h5>
                        <p>We are proud to showcase the boats that have inspired dreams, strengthened friendships, built character and brought us all a little closer to one another.</p>
                        <span>See the boats</span>
                    </article>
                </a>
            </div>
        </div>
    </section>
    <section id="community-events">
        <h3>Community Events</h3>
        <div class="card-container">

            <div class="card">
                <a href="/marathon">
                    <img src="/static/images/marathon/preview.webp">
                    <article>
                        <h5>The Islesford Half-Marathon & 5k</h5>
                        <p>Let's go for a fun run in the sun (or fog) </p>
                        <span>Learn more</span>
                    </article>
                </a>
            </div>     
            <div class="card">
                <a href="/makers-night">
                    <img src="/static/images/programs-events/makers-night2.jpg">
                    <article>
                        <h5>Maker’s Night</h5>
                        <p>Too young for our boat building programs? Kids 4 and up can join us weekly for Makers Night, where they learn shop safety and tool basics by creating fun crafts. </p>
                        <span>Learn more</span>
                    </article>
                </a>
            </div>



            {# <div class="card">
                <a href="/artist-in-residence/amanda_pellerin/">
                    <img src="/static/images/artist-in-residence/amanda-pellerin/preview.webp">
                    <article>
                        <h5>Artist in Residence - Rugtufting with Amanda</h5>
                        <p>Learn to design and make you own punched rug in one of Amanda's workshops!</p>
                        <span>Learn more</span>
                    </article>
                </a>
            </div> #}

            <div class="card">
                <a href="/yoga">
                    <img src="/static/images/yoga/yoga-preview.webp">
                    <article>
                        <h5>Yoga at the Blue Duck</h5>
                        <p>Join us for yoga with Meg Newlin</p>
                        <span>Learn more</span>
                    </article>
                </a>
            </div>    

            <div class="card">
                <a href="/courtney-cup">
                    <img src="/static/images/programs-events/courtney-cup.jpg">
                    <article>
                        <h5>The Courtney Cup</h5>
                        <p>Our summer-long ongoing rowing competition inspired by island legend, Courtney Chaplin and his love of boating and rowing, open to all. </p>
                        <span>Learn more</span>
                    </article>
                </a>
            </div>                    

            <div class="card">
                <a href="/boards-and-chords">
                    <img src="/static/images/programs-events/boards-chords.jpg">
                    <article>
                        <h5>Boards and Chords</h5>
                        <p>Our weekly island music jam! Open to all ages, instruments and skill levels. Come to play, to sing along, or just to listen.</p>
                        <span>Learn more</span>
                    </article>
                </a>
            </div>

            <div class="card inactive">
                <a href="">
                    <img src="/static/images/programs-events/anna.jpg">
                    <article>
                        <h5>Anna's Coffee Corner</h5>
                        <p>Meet us Tuesday - Saturday from 8:30-9:30 for a cup of coffee and some chit chat. Free and open to everyone</p>
                        <span>Learn more</span>
                    </article>
                </a>
            </div>            

            <div class="card inactive">
                <a href="#">
                    <img src="/static/images/tony-taxi/tony-taxi.webp">
                    <article>
                        <h5>Tony's Taxi</h5>
                        <p>We've now coordinated class times with LCYC so there is no overlap between classes and students can catch a 10 min boat ride between programs with Tony!</p>
                        {# <span>Learn more</span> #}
                    </article>
                </a>
            </div>            


            <div class="card inactive">
                <a href="#">
                    <img src="/static/images/programs-events/boat-launch.jpg">
                    <article>
                        <h5>The Boat Launch</h5>
                        <p>This is our annual end-of-the-summer celebration! We’ll launch our newest boat, celebrate the summer with friends, and enjoy an afternoon of island fun. </p>
                        <span>Learn more</span>
                    </article>
                </a>
            </div>

            <div class="card inactive">
                <a href="#">
                    <img src="/static/images/programs-events/island-speaker-series.jpg">
                    <article>
                        <h5>Island Speaker Series</h5>
                        <p>The Island Speaker series is one way we can contribute to the heritage of the Cranberry Isles, celebrating the knowledge and skills within our island community.</span>
                    </article>
                </a>
            </div>



            {# <div class="card inactive">
                <a href="#">
                    <img src="/static/images/programs-events/masters.jpg">
                    <article>
                        <h5>Masters Program</h5>
                        <p>Sorry youngsters, this weekly boat building program is for seniors only. Join us every Saturday as we work on our boat build. No previous experience needed to join</p>
                        <span>Learn more</span>
                    </article>
                </a>
            </div> #}

            <div class="card inactive open-shop-saturdays">
                <a href="#">
                    <img src="/static/images/programs-events/open-shop.jpg">
                    <article>
                        <h5>Open Shop Saturdays</h5>
                        <p>Want to elp us with the boat build, or learn a specific technique or tool? <a href="mailto:islesfordboatworks@gmail.com">Schedule time with Tony</a> for an open shop saturday.</p>
                        {# <span>Learn more</span> #}
                    </article>
                </a>
            </div>

            {# <div class="card">
                <a href="/ladies-night">
                    <img src="/static/images/programs-events/ladies-night.jpg">
                    <article>
                        <h5>Ladies' Night</h5>
                        <p>Join Little Cranberry Yacht Club and Islesford Boatworks for an evening of powerboating and crafting with power tools. </p>
                        <span>Learn more</span>
                    </article>
                </a>
            </div>           #}

        </div>
    </section>
</div>
{% include "components/get-involved.njk" %}