---
layout: base.njk
title: Quick and Daring Boatbuilding 
bodyClass: quick-and-daring
changeFreq: monthly
---

<section id="quick-and-daring-hero" class="hero">
    <article>
        <h1>Quick and Daring Boat Building</h1>
        <p>A special 20th anniversary bonus 1-weekboat challenge!</p> 
    </article>
    <figure><img src="/static/images/quick-and-daring/quick-and-daring-hero.webp"></figure>

</section>

<div class="container primary-article">

    <aside>

  
         <h4>Register for Quick and Daring Boat Building week!</h4>
         <p>Space is limited to 12 students. Priority will be given to year round residents of the Cranberry Isles.</p><br>
         <p>Time: 9:30-12:30</p><br>
         <p>Dates: Aug 10th through 14th</p><br>
         <p>Cost: $330 (all materials provided), Scholarships available </p>

    <a href="https://forms.gle/yfCwThGQsfJHfwBy7" target="_blank" class="btn">Adopt your duck</a>
        

    </aside>
    <article>
        <p>We have a special program to celebrate our 20th anniversary, The Quick & Daring Boat Building Challenge!</p>
        <p>This challenge is a team-based design, build, and race activity for students in 4th grade and up. Over the course of the week-long program each team will work together to design and build an actual full size boat using just the materials provided and compete in a series of competitions that test their design, build skills and teamwork. </p>
        <img src="/static/images/quick-and-daring/quick-and-daring-collage.webp">
        <p>Teams will need to think carefully about how their boat floats, how much weight it can carry, how stable it is, how efficiently it moves through the water, and how much material they use with a culminating race around the abutment and back.  The challenge combines creativity, teamwork, basic boat design, sustainability, and on-water performance.</p>
        <p>Space is limited to 12 students. Priority will be given to year round residents of the Cranberry Isles:</p>
    </article>
</div>

<div class="container bottom-cards">
    <div class="card">
        <a href="/courtney-cup">
            <img src="/static/images/programs-events/courtney-cup.jpg">
            <article>
                <h5>The Courtney Cup</h5>
                <p>Our summer-long ongoing rowing competition inspired by island legend, Courtney Chaplin and his love of boating and rowing, open to all. </p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/makers-night">
        <img src="/static/images/programs-events/makers-night2.jpg">
        <article>
            <h5>Maker's night</h5>
            <p>Too young for our boat building programs? Kids 4 and up can join us weekly for Makers Night, where they learn shop safety and tool basics by creating fun crafts. Join us for a fun run in the sun! (Or fog.)</p>


            
            <span>Learn more</span>
       </article>
       </a>
    </div>
</div>
