---
layout: base.njk
title: Schedule
bodyClass: schedule
---

<div class="container">
    <h1>Boatworks 2022 Schedule</h1>
    <p>Start date: June 28th | End date: Aug 5th</p>
    <img src="/static/images/schedule-2022.svg">
</div>