---
layout: base.njk
title: Schedule
bodyClass: schedule
changeFreq: monthly
---

<div class="container">
    <h1>Boatworks 2023 Schedule</h1>
    <p>Start date: June 27th | End date: Aug 4th</p>
    <img src="/static/images/schedule-2023.svg">
</div>

<div class="container bottom-cards">

    <div class="card">
        <a href="/summer-youth-boatbuilding">
        <img src="/static/images/programs-events/youth.jpg">
        <article>
            <h5>Summer Youth Boatbuilding</h5>
            <p>We offer three different levels of programs, teaching kids from 7-17 the fundamentals of boatbuilding. Working together, we [launch a new boat] at the end of the summer.</p>
            <span>Learn more</span>
       </article>
       </a>
    </div>    
    <div class="card">
        <a href="/our-boats">
            <img src="/static/images/our-boats/2019-oso-oloroso.jpg">
            <article>
                <h5>Our Boats</h5>
                <p>We are proud to showcase the boats that have inspired dreams, strengthened friendships, built character and brought us all a little closer to one another.</p>
                <span>See the boats</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
</div>