---
layout: base.njk
title: Schedule
bodyClass: schedule
---

<div class="container">
    <h1>Boatworks 2022 Schedule</h1>
    <p>Start date: June 28th | End date: Aug 5th</p>
    <img src="/static/images/schedule-2022.svg">
</div>

<div class="container bottom-cards">

    <div class="card">
        <a href="/summer-youth-boatbuilding">
        <img src="/static/images/programs-events/youth.jpg">
        <article>
            <h5>Summer Youth Boatbuilding</h5>
            <p>We offer three different levels of programs, teaching kids from 7-17 the fundamentals of boatbuilding. Working together, we [launch a new boat] at the end of the summer.</p>
            <span>Learn more</span>
       </article>
       </a>
    </div>    
    <div class="card">
        <a href="/teen-apprentice-program">
            <img src="/static/images/programs-events/teen-apprentice.jpg">
            <article>
                <h5>Teen Apprentice Program</h5>
                <p>After a successful pilot in 2021, the Teen Apprentice program is back this year. Paid internships are available for ages 13-17.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
</div>