---
layout: base.njk
title: School Year Woodworking
bodyClass: school-year-woodworking
changeFreq: monthly
---

<section id="summer-youth-hero" class="hero">
    <article>
        <h1>School Year Woodworking</h1>
        <p>Since 2017, Islesford Boatworks has been a part of the island school children’s academic curriculum for grades K-8.</p>
    </article>
    <figure><img src="/static/images/school-year-woodworking/header.jpg"></figure>

</section>

<div class="container primary-article">
    <aside>
        <h4>Support our school program!</h4>
        <p>Finding funding for programs for our year round community is always a challenge. Consider donating today to support Boatwork’s programming beyond the summer.</p>
        <a href="https://www.paypal.com/donate/?hosted_button_id=2S3ZEMK5LS7X4" class="btn">Donate now</a>
   </aside>
    <article>
        <p>By connecting the program with the local school, we are introducing kids to new ways to apply the knowledge they learn in the classroom. Boatbuilding provides real-world applications that complement information taught in schools, connecting kids to science, math and social studies in real and relevant ways. In addition to their time in the shop, kids 5th through 8th grades will have one day a week of “Boat math,” which pairs shop skills with the math they are currently learning in the school room, covering from fractions, all the way through geometry and trigonometry!</p>
        <img src="/static/images/school-year-woodworking/clamp.jpg">
        <p>Aside from augmenting their school learning, this program also provides a way to learn the skills necessary to live on an island with limited resources - where knowing how to repair and maintain things is a necessity for life. To that end, a lot of the projects that they work on in the school program, other than boatbuilding, are designed to teach fundamental day-to-day tool skills as opposed to the specialized skills of boatbuilding. </p>
        <img src="/static/images/school-year-woodworking/school-participation.jpg">
    </article>

</div>

<div class="container bottom-cards">
    <div class="card">
        <a href="/teen-apprentice-program">
            <img src="/static/images/programs-events/teen-apprentice.jpg">
            <article>
                <h5>Teen Apprentice Program</h5>
                <p>After a successful pilot in 2021, the Teen Apprentice program is back this year. Paid internships are available for ages 13-17.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/summer-youth-boatbuilding">
        <img src="/static/images/summer-boatbuilding.jpg">
        <article>
            <h5>Summer Youth Boatbuilding</h5>
            <p>We offer three different levels of programs, teaching kids from 7-17 the fundamentals of boatbuilding. Working together, we [launch a new boat] at the end of the summer.</p>
            <span>Learn more</span>
       </article>
       </a>
    </div>
</div>