---
layout: base.njk
title: Summer Youth Boatbuilding
bodyClass: summer-youth-boatbuilding
changeFreq: monthly
---

<section id="summer-youth-hero" class="hero">
    <article>
        <h1>Summer Youth Boatbuilding</h1>
        <p>We offer three levels of youth programming, serving kids 6 through 17.</p>
    </article>
    <figure><img src="/static/images/summer-youth-boatbuilding/header.jpg"></figure>

</section>
<div class="container primary-article">
    <aside>
        {# <h4>Registration for Summer 2022 now closed.</h4>
        <p>Thanks for another great year!</p> #}
        <p>No previous woodworking experience is needed to join any of our programs. Spots are filling up quickly, so please see availability chart while registering</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdB1-vlQ9chd2z67eQa2zfjSCgOJz-94ki1JM68Rs5g68cjxQ/viewform" target="_blank" class="btn">Register now</a>
        <p>Have a question? See answers to <a href="/faq">Frequently Asked Questions</a> here.</p>
    </aside>
    <article>
        <p class="intro">Each summer kids join together to build a full-size traditional wooden boat. Starting with reading the plans, to shaping the planks, all the way to painting the hull, the kids in our program participate in the entire boat building process, from start to finish!
</p>
        <img class="inset" src="/static/images/summer-youth-boatbuilding/youngers.jpg">
        <h3>Youngers: ages 7-9</h3>
        <p> A typical day in the shop consists of the kids cycling through various hands-on boat building and activity stations, where a knowledgeable IB instructor guides them through the day’s activities. The kids learn the fundamentals of tool use and techniques in a safe environment, which we maintain by keeping a small student to teacher ratio, usually 3:1. Students use traditional hand tools while learning skills like shaping planks, steam bending, riveting and oar-making. </p>
        <p>Minimum age: Kids must be turning 7 during the current calendar year in order to join us in the shop</p>
        <img class="inset" src="/static/images/summer-youth-boatbuilding/middles.jpg">
        <h3>Middles: ages 9-11</h3>

        <p>For ages 9-11. Kids in the middles program learn more advanced skills as they work on the boat project. In this program, we spend half our time cycling through stations, similar to the structure of the youngers program, but while working on more challenging boat-related projects. The rest of our time is devoted to really developing tool knowledge and skills, including an introduction to safely using power tools. 
</p>
        <img class="inset" src="/static/images/summer-youth-boatbuilding/olders.jpg">
        <h3>Olders: ages 12 and up</h3>

        <p>We proudly offer an advanced woodworking program for kids 12 and up. Going beyond the introductory skills learned in our youth programs, the kids in our olders program delve more deeply into the world of boatbuilding as they tackle complicated and challenging projects from start to finish. Olders will learn advanced woodworking techniques, gain skills in the use of traditional hand tools, modern tools and power tools as they explore both traditional and modern boatbuilding techniques.</p>
        {# <h3>Schedule</h3>
        <div class="schedule">
            <figure class="schedule">
                <img src="/static/images/summer-youth-boatbuilding/schedule.svg">
            </figure>
        </div> #}
    </article>

</div>

<div class="container">
    <div class="secondary-carousel sub">
        <div class="carousel-cell">
           <img src="/static/images/summer-youth-boatbuilding/gallery-1.jpg">
        </div>
        {# <div class="carousel-cell">
           <img src="/static/images/summer-youth-boatbuilding/gallery-2.jpg">
        </div>  #}
        <div class="carousel-cell">
           <img src="/static/images/summer-youth-boatbuilding/gallery-3.jpg">
        </div>  
        <div class="carousel-cell">
           <img src="/static/images/summer-youth-boatbuilding/gallery-4.jpg">
        </div>   
        <div class="carousel-cell">
           <img src="/static/images/summer-youth-boatbuilding/gallery-5.jpg">
        </div>                                 
    </div>
</div>
<div class="container bottom-cards">
    <div class="card">
        <a href="/teen-apprentice-program">
            <img src="/static/images/teen-apprentice-program/jump.jpg">
            <article>
                <h5>Teen Apprentice Program</h5>
                <p>Summer employement for teens while also preparing the next generation of Boatworks staff. </p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/school-year-woodworking">
            <img src="/static/images/programs-events/school-year.jpg">
            <article>
                <h5>School Year Woodworking</h5>
                <p>Serving our local K-8 school, kids join us weekly in the shop as part of their school day, where we provide real world applications to support concepts taught in the classroom.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
</div>
