---
layout: base.njk
title: Summer Youth Boatbuilding
bodyClass: teen-apprentice-program
---

<section id="summer-youth-hero" class="hero">
    <article>
        <h1>Teen Apprentice Program</h1>
        <p>Paid internships are now available for ages 13-17. </p>
    </article>
    <figure><img src="/static/images/teen-apprentice-program/header.jpg"></figure>

</section>

<div class="container primary-article">
    <aside>
        <h4>Now Accepting Apprentice Applications!</h4>
        <p>Need a little Tony text here. We still have a few spots open for Summer 2022 Teen Apprenticeships. Fill out the simple application by clicking the button below. </p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf1k6_dHQ1VbDSMi9yyjOknpm36ANwbwcu38aJ096RBDugXuQ/viewform" class="btn">Apply now</a>
   </aside>
    <article>
        <p>When COVID hit the island, we piloted a new paid apprenticeship program for teens ages 13*-17. We wanted to provide summer employment for teens and young adults on the island, while also preparing the next generation of Boatworks staff. In this program, we prepare our students to become leaders within the organization. </p>
        <img src="/static/images/teen-apprentice-program/jump.jpg">
        <p>Apprentices delve deeply into fundamental boatbuilding skills, general tool use, advanced shop safety, all with a focus on professional development and job responsibility. We spent two sessions a week building their skills, and one session working with the Youngers program, homing their teaching skills. </p>
        <p>Requirements</p>
        <ul>
            <li>Applicants must have previous experience in Boatworks. Preference will be given to recent experience.</li>
            <li>Applicants who will be 13  can apply for an unpaid apprenticeship position.</li>
            <li>Applicants who will be at least 14 and no older than 17 at the time of program can apply for a paid apprenticeship position</li>
            <li>Apprentices must be able to work the full 6 weeks of program</li>
            <li>Apprentices will be required to work (3) 3-hour sessions a week. (two sessions in the afternoon apprenticeship program, one session in youngers or middles program)</li>
        </ul>
    </article>

</div>

<div class="container bottom-cards">
    <div class="card">
        <a href="/summer-youth-boatbuilding">
        <img src="/static/images/summer-boatbuilding.jpg">
        <article>
            <h5>Summer Youth Boatbuilding</h5>
            <p>We offer three different levels of programs, teaching kids from 7-17 the fundamentals of boatbuilding. Working together, we [launch a new boat] at the end of the summer.</p>
            <span>Learn more</span>
       </article>
       </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/school-year-woodworking">
            <img src="/static/images/programs-events/school-year.jpg">
            <article>
                <h5>School Year Woodworking</h5>
                <p>Serving our local K-8 school, kids join us weekly in the shop as part of their school day, where we provide real world applications to support concepts taught in the classroom.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
</div>