---
layout: base.njk
title: Summer Youth Boatbuilding
bodyClass: teen-apprentice-program
changeFreq: monthly
---

<section id="summer-youth-hero" class="hero">
    <article>
        <h1>Teen Apprentice Program</h1>
        <p>Paid internships are now available for ages 13-17. </p>
    </article>
    <figure><img src="/static/images/teen-apprentice-program/header.jpg"></figure>

</section>

<div class="container primary-article">
    <aside>
        <h4>Join the Teen apprenticeship program!</h4>
        <p>Applications are now online:</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfKOtIKC6LflRFq0kmTeoaC1u91_p0OiwlvCWUn4uLmnSldvg/viewform" class="btn">Apply now</a>
   </aside>
    <article>
        <p>Our Apprentice Program provides summer employment for teens and young adults on the island, while also preparing the next generation of Boatworks staff. In this program, we prepare our students to become leaders within the organization. Apprentices delve deeply into fundamental boatbuilding skills, general tool use, advanced shop safety, and teaching skills, all with a focus on professional development and job responsibility. We work with Apprentices to decide what Boatworks skills they want to focus on, and encourage leadership opportunities within the program. We spend two sessions per week building their skills, and they assistant teach at two sessions per week with the Youngers or Middles  programs, honing their teaching skills.</p>
        <img src="/static/images/teen-apprentice-program/jump.jpg">
        
        <p>Requirements</p>
        <ul>
            <li>Applicants must have previous experience in Boatworks. Preference will be given to recent experience.</li>
            <li>Applicants who will be 13  can apply for an unpaid apprenticeship position.</li>
            <li>Applicants who will be at least 14 and no older than 17 at the time of program can apply for a paid apprenticeship position</li>
            <li>Apprentices must be able to work the last 5 weeks of the program (June 30th - August 3rd). We will have an overnight “lock-in” event to kick off the program on June 30th-July 1st. Please reach out to Tony and Louise at islesfordboatworks@gmail.com if you have scheduling conflicts!</li>
            <li>Apprentices will be required to work 8-10 hours per week, including two 2-hour Apprentice classes, and assistant teaching at two 2-hour Younger or Middle classes, plus varying responsibilities of behind-the-scenes work and participation in our launch event on August 3rd</li>
        </ul>
    </article>

</div>

<div class="container bottom-cards">
    <div class="card">
        <a href="/summer-youth-boatbuilding">
        <img src="/static/images/summer-boatbuilding.jpg">
        <article>
            <h5>Summer Youth Boatbuilding</h5>
            <p>We offer three different levels of programs, teaching kids from 7-17 the fundamentals of boatbuilding. Working together, we [launch a new boat] at the end of the summer.</p>
            <span>Learn more</span>
       </article>
       </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/school-year-woodworking">
            <img src="/static/images/programs-events/school-year.jpg">
            <article>
                <h5>School Year Woodworking</h5>
                <p>Serving our local K-8 school, kids join us weekly in the shop as part of their school day, where we provide real world applications to support concepts taught in the classroom.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
</div>