---
layout: base.njk
title: The Blue Duck
bodyClass: the-blue-duck
changeFreq: monthly
---

<section id="the-blue-duck-hero" class="hero">
    <article>
        <h1>The Blue Duck</h1>
        <p>Boatworks' home on the shore</p>
    </article>
    <figure><img src="/static/images/the-blue-duck/header.jpg"></figure>

</section>

<div class="container primary-article">
    <aside>
    <h4>Thank you!</h4>
    <p>We can't express our gratitude enough for everyone who has helped bring Boatworks to the Blue Duck. Thank you to everyone who has donated time, money, energy to make this dream a reality!</p><br><p>Want to stay in the loop for what's next at the Blue Duck? Join our mailing list below.</p>
    <a href="https://islesfordboatworks.us7.list-manage.com/subscribe?u=fc02d50e0fcd37acade856882&id=1989fb58ed" class="btn">Get updates</a>
    {# <a href="https://www.paypal.com/donate/?hosted_button_id=2S3ZEMK5LS7X4" class="btn">Help us grow</a> #}
   </aside>
    <article>
        <p class="intro">In 2018, Islesford Boatworks moved into its new home, The Blue Duck. Through the wonderful support of the U.S. National Park Service, we’ve entered into a long-term lease of the building to bring our programs and services literally to Maine’s working waterfront.</p>
        <p>The Blue Duck (named after the blue duck decoy mounted on the door frame) was built around 1852 as a chandlery (marine hardware store) for the Hadlock family, who owned a thriving business that included fish wharves, smoke houses, farms, a sawmill, a store, and a small fleet of schooners. Around 1912, the Blue Duck was purchased by Dr. William Otis Sawtelle, who turned the building into a museum of local history and art. In 1927, a new brick building was constructed to house the museum’s growing collection and in 1948, both buildings were donated to Acadia National Park. A portion of the Blue Duck was converted to public restrooms and the remainder was converted to a small apartment and eventually used for storage.
</p>
        <img src="/static/images/the-blue-duck/blue-duck-history-1.jpg">
        <p>By the 2010s, the old store had seen better times. Doors and windows were boarded up and debris and junk had accumulated in the attic and rooms. After years of community pressure, the National Park Service put out a request for proposals in the fall of 2017 for parties interested in renting the building and taking over the care of the facilities. Islesford Boatworks submitted an application and secured a lease to make this historic structure its new home.</p>
        <p>Through the generous support and encouragement of the community, Islesford Boatworks renovated the Blue Duck and breathed new life into the old island store. The initial renovation in the summer of 2018 restored the open plan layout of the downstairs space by removing non-original walls, shoring up the sagging ceiling beams with new posts and beams milled from island trees. New lighting and workbenches were installed, while doors and windows throughout were restored. In 2019, with the support of the Maine Community Foundation, we were able to renovate one of the chimneys which allowed us to add a wood burning fireplace for toasty coffee mornings and (more importantly) to run programs beyond the summer.  We renovated the upstairs for more program capacity. All the while, we’ve been working with the National Park Service to preserve and restore this historic building so that it will be part of island life for another 150 years.</p>
  </article>

</div>

<div class="container">
    <div class="secondary-carousel sub">
        <div class="carousel-cell">
           <img src="/static/images/the-blue-duck/gallery-1.jpg">
        </div>
        <div class="carousel-cell">
           <img src="/static/images/the-blue-duck/gallery-2.jpg">
        </div> 
        <div class="carousel-cell">
           <img src="/static/images/the-blue-duck/gallery-3.jpg">
        </div>                                
    </div>
</div>

<div class="container bottom-cards">
    <div class="card">
        <a href="/our-boats">
            <img src="/static/images/our-boats/2019-oso-oloroso.jpg">
            <article>
                <h5>Our Boats</h5>
                <p>We are proud to showcase the boats that have inspired dreams, strengthened friendships, built character and brought us all a little closer to one another.</p>
                <span>See the boats</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/summer-youth-boatbuilding">
        <img src="/static/images/summer-boatbuilding.jpg">
        <article>
            <h5>Summer Youth Boatbuilding</h5>
            <p>We offer three different levels of programs, teaching kids from 7-17 the fundamentals of boatbuilding. Working together, we [launch a new boat] at the end of the summer.</p>
            <span>Learn more</span>
       </article>
       </a>
    </div>
</div>