---
layout: base.njk
title: Yoga at the Blue Duck
bodyClass: yoga
changeFreq: monthly
---

<section id="ladies-night-hero" class="hero">
    <article>
        <h1>Yoga at the Blue Duck</h1>
        {# <p>Join Little Cranberry Yacht Club and Islesford Boatworks for an evening of powerboating and crafting with power tools. 
</p> #}
    </article>
    <figure><img src="/static/images/yoga/header.webp"></figure>

</section>

<div class="container primary-article">

    <aside>

  
         <p><strong>When:</strong></p>
         <p>Saturdays: 6/21, 6/28, 7/26<br>
            
            Mondays: 6/23, 7/21, 7/28</p>

         <br>
         <p><strong>Cost</strong></p>
         <p>Cost is $15 each or $75 for all 6. Pay the day of.</p>
         
        
    </aside>
    <article>
       <p>Have you ever wanted to do yoga surrounded by tools and boats? Have we got the perfect situation for you!</p>
    <p>Join Meg newlin for yoga classes that are mixed level, suitable for most, and offer a great balance of strength, mobility, and relaxation. Bring a mat if you can and any props you might like.</p>
      <br><figure><img src="/static/images/yoga/yoga-grid.webp"></figure>  

    </article>

</div>

<div class="container bottom-cards">
    <div class="card">
        <a href="/teen-apprentice-program">
            <img src="/static/images/programs-events/courtney-cup.jpg">
            <article>
                <h5>The Courtney Cup</h5>
                <p>Our summer-long ongoing rowing competition inspired by island legend, Courtney Chaplin and his love of boating and rowing, open to all. </p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/programs-events/#community-events">
            <img src="/static/images/community-events.jpg">
            <article>
                <h5>Community Events</h5>
                <p>Music jams, lecture series, our morning coffee club,  ladies night and more, we have events for all ages and interests. All our events are free and open to all.</p>
                <span>Learn more</span>
            </article>
        </a>
    </div>
    <div class="card">
        <a href="/makers-night">
        <img src="/static/images/programs-events/makers-night2.jpg">
        <article>
            <h5>Maker's night</h5>
            <p>Too young for our boat building programs? Kids 4 and up can join us weekly for Makers Night, where they learn shop safety and tool basics by creating fun crafts. </p>
            <span>Learn more</span>
       </article>
       </a>
    </div>
</div>
